<head>
    <meta charset="UTF-8">
</head>
<section class="content-header">
    <h1>Alta</h1>
    <ol class="breadcrumb">
        <li>
            <a>
                <i class="{{breadCrumbs.icono}}"></i>Incidencias
            </a>
        </li>
        <li class="active">Alta</li>
    </ol>
</section>

<section class="content">
<!-- 	<boton-incidencia id-orden-serv="idOrd"></boton-incidencia> -->
    <form role="form" name="formAltaIncidencia" novalidate>
        <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
                <div class="box box-danger">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title"> Alta de Incidencia </h3>
<!--                         <div class="box-tools pull-right"> -->
<!--                             <button type="button" class="btn btn-box-tool" data-widget="collapse"> -->
<!-- 								<i class="fa fa-minus"></i> -->
<!-- 							</button> -->
<!--                         </div> -->
                    </div>
                    <div class="box-body">
                        <div class="row">
                        	<div class="col-md-12 text-right">
                        		<label for=""> {{'ALTAINCIDENCIA.AltaIncidencia.labelFh' | translate}} {{fechaAnio}}</label>
                        	</div>
                        </div>	
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error': formAltaIncidencia.tipoIncidencia.$invalid && formAltaIncidencia.tipoIncidencia.$dirty}">
                                    <label for=""> *{{'ALTAINCIDENCIA.AltaIncidencia.tpInc.label' | translate}} </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-list-ul"></i>
                                        </div>
                                        <select class="form-control" name="tipoIncidencia" id="tipoIncidencia" required select2 idioma-s2="{{currentLanguage}}" 
                                        	catalogo-generico-list name-consult-service="'catalogoGenericoService'" name-consult-end-point-service="'getTpIncidencia'"
                                        	name-save-service="'conductorService'" name-save-end-point-service="'nuevoConductor'"
                                        	model-result="listTpIncidencia"
											opcion-selec="registroIncidencia.tpIncidencia" ng-change="addTxDescripcion()"
											ng-model="registroIncidencia.tpIncidencia" ng-options="tipo as tipo.nbStSeguimiento for tipo in listTpIncidencia">
											<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
										</select>
                                    </div>
                                    <div ng-show="formAltaIncidencia.tipoIncidencia.$invalid && formAltaIncidencia.tipoIncidencia.$dirty" ng-style="{color:'red'}">
                                        <label> {{'ALTAINCIDENCIA.AltaIncidencia.tpInc.validacion' | translate}} </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error': formAltaIncidencia.prioridad.$invalid && formAltaIncidencia.prioridad.$dirty}">
                                    <label for=""> *{{'ALTAINCIDENCIA.AltaIncidencia.priod.label' | translate}} </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-list-ul"></i>
                                        </div>
                                        <select class="form-control" name="prioridad" id="prioridad" required select2 data-minimum-results-for-search="Infinity" idioma-s2="{{currentLanguage}}" 
                                        	catalogo-generico-list name-consult-service="'catalogoGenericoService'" name-consult-end-point-service="'getPrioridad'"
                                        	name-save-service="'conductorService'" name-save-end-point-service="'nuevoConductor'"
                                        	model-result="listPrioridad"
											opcion-selec="registroIncidencia.prioridad" ng-change="addTxDescripcion()"
											ng-model="registroIncidencia.prioridad" ng-options="p as p.nbStSeguimiento for p in listPrioridad">
											<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
										</select>
                                    </div>
                                    <div ng-show="formAltaIncidencia.prioridad.$invalid && formAltaIncidencia.prioridad.$dirty" ng-style="{color:'red'}">
                                        <label> {{'ALTAINCIDENCIA.AltaIncidencia.priod.validacion' | translate}} </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error': formAltaIncidencia.orden.$invalid && formAltaIncidencia.orden.$dirty}">
                                    <label for=""> *{{'ALTAINCIDENCIA.AltaIncidencia.flSol.label' | translate}} </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-pencil"></i>
                                        </div>
                                        <input type="text" class="form-control" name="orden" id="orden" ng-model="registroIncidencia.orden" readonly />
                                    </div>
                                    <div ng-show="formAltaIncidencia.orden.$invalid && formAltaIncidencia.orden.$dirty" ng-style="{color:'red'}">
                                        <label> {{'ALTAINCIDENCIA.AltaIncidencia.flSol.validacion' | translate}} </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        	<div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error': formAltaIncidencia.tecnico.$invalid && formAltaIncidencia.tecnico.$dirty}">
                                    <label for=""> *{{'ALTAINCIDENCIA.AltaIncidencia.tecnico.label' | translate}} </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-list-ul"></i>
                                        </div>
                                        <select class="form-control" name="tecnico" id="tecnico" required select2 idioma-s2="{{currentLanguage}}" 
                                        	catalogo-generico-list name-consult-service="'catalogoGenericoService'" name-consult-end-point-service="'getTecnicos'" param-busq="1"
                                        	name-save-service="'instaladorService'" name-save-end-point-service="'nuevoInstalador'"
                                        	model-result="listTecnico" object-id="'idPersona'" idbtn="'btnPersona'"
											opcion-selec="registroIncidencia.tecnico" ng-change="addTxDescripcion()" name-modal="'Técnico'"
											ng-model="registroIncidencia.tecnico" ng-options="t as t.nbPersona+' '+t.nbPatPersona+' '+t.nbMatPersona for t in listTecnico">
											<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
										</select>
										<div class="input-group-btn">
											<label catalogo-generico-listt id="btnPersona" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></label>
										</div>
                                    </div>
                                    <div ng-show="formAltaIncidencia.tecnico.$invalid && formAltaIncidencia.tecnico.$dirty" ng-style="{color:'red'}">
                                        <label> {{'ALTAINCIDENCIA.AltaIncidencia.tecnico.validacion' | translate}} </label>
                                    </div>
                                </div>
                            </div>
                        	<div class="col-md-4">
                        		<div class="form-group" ng-class="{'has-error': formAltaIncidencia.transportista.$invalid && formAltaIncidencia.transportista.$dirty}">
	                        		<label for=""> *{{'ALTAINCIDENCIA.AltaIncidencia.transportista.label' | translate}} </label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-list-ul"></i>
										</div>
										<select class="form-control" name="transportista" id="transportista" required select2 idioma-s2="{{currentLanguage}}" 
											catalogo-generico-list name-consult-service="'catalogoGenericoService'" name-consult-end-point-service="'getTransportistas'" 
											name-save-service="'conductorService'" name-save-end-point-service="'nuevoConductor'" 
											model-result="listTransportista" object-id="'idConductor'" idbtn="'btnTransportista'" name-modal="'Transportista'"
											opcion-selec="registroIncidencia.transportista" 
											ng-model="registroIncidencia.transportista" ng-change="addTxDescripcion()" 
											ng-options="x as x.nbConductor+' '+x.nbApepatConductor+' '+x.nbApematConductor for x in listTransportista"> 
											<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option> 
										</select> 
										<div class="input-group-btn">
											<label catalogo-generico-listt id="btnTransportista" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></label>
										</div>
									</div>
									<div ng-show="formAltaIncidencia.transportista.$invalid && formAltaIncidencia.transportista.$dirty" ng-style="{color:'red'}">
                                        <label> {{'ALTAINCIDENCIA.AltaIncidencia.tecnico.validacion' | translate}} </label>
                                    </div>
								</div>
								
                        	</div>
                        	<div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error': formAltaIncidencia.modAten.$invalid && formAltaIncidencia.modAten.$dirty}">
                                    <label for=""> *{{'ALTAINCIDENCIA.AltaIncidencia.modAten.label' | translate}} </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-pencil"></i>
                                        </div>
                                        <input type="text" class="form-control" name="modAten" id="modAten" ng-model="registroIncidencia.modAten" readonly />
                                    </div>
                                    <div ng-show="formAltaIncidencia.modAten.$invalid && formAltaIncidencia.modAten.$dirty" ng-style="{color:'red'}">
                                        <label> {{'ALTAINCIDENCIA.AltaIncidencia.modAten.validacion' | translate}} </label>
                                    </div>
                                </div>
                        	</div>
                        </div>	
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error': formAltaIncidencia.descripcion.$invalid && formAltaIncidencia.descripcion.$dirty}">
                                    	<label for="descripcion"> *Descripción: {{contador}} Caracteres </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-list-ul"></i>
                                        </div>
                                        <textarea id="descripcion" name="descripcion" required capitalize ng-change="addTxDescripcion()"
											style="resize: none;"class="form-control" rows="5" maxlength="{{totalLength}}" ng-KeyUp="longitud()"
											ng-model="registroIncidencia.descripcion">
										</textarea> 
                                    </div>
                                    <div ng-show="formAltaIncidencia.descripcion.$invalid && formAltaIncidencia.descripcion.$dirty" ng-style="{color:'red'}">
                                        <label> La descripción es requerida. </label>
                                    </div>
                                </div>
                         	</div>
                         	<div class="col-md-6">
                                <div class="form-group">
                                    	<label for=""> Vista Previa: </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-list-ul"></i>
                                        </div>
                                        <textarea id="txDescripcion" name="txDescripcion" readonly="true" capitalize
											style="resize: none;"class="form-control" rows="5" ng-model="registroIncidencia.txDescripcion">
										</textarea> 
                                    </div>
                                </div>
                         	</div>
                            <div class="col-md-12">
                                <update-image id-element-up="altaIncidencia" include="true" param-conf-sav="paramConfSav" is-incidencia="true"
	                   				param-conf-component="paramConfiguracion" max-nu-image="{{paramConfiguracion.maxNuImage}}" list-images="listImages"></update-image>
                            </div>
                     	</div>
                    </div>
                	<div class="box-footer">
                		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 center">
					    	<button class="btn btn-danger btn-flat" ng-click="regresar()" ng-show="btnRegrear">Regresar</button>
					    	<button class="btn btn-danger btn-flat" ng-click="guardar(true)">Guardar</button>
					    </div>
                	</div>
                </div>
            </div>
        </div>
    </form>
</section>
