<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<section class="content-header">
			<h1>{{breadCrumbs.servicio}}</h1>
			<ol class="breadcrumb">
				<li>
					<a><i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}} </a>
				</li>
				<li class="active">{{breadCrumbs.servicio}}</li>
			</ol>
		</section>
    
		<section class="content">
			<div class="row">
				<!-- SECCION PARAMETROS DE BÚSQUEDA -->
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<div class="box box-danger">
						 <form name="formUpload" role="form" novalidate>     				 
							<div class="box-header with-border ">
								<div class="col-xs-8 col-xs-offset-2 col-md-8  col-md-offset-2 text-center">
									<h3 class="box-title">Importar Archivo</h3>
								</div>

								<div class="box-tools pull-right">
									<button class="btn btn-box-tool" type="button" id="btnAlmacen" data-widget="collapse">
										<i class="fa fa-minus"></i>
									</button>
								</div>
								
							</div>
							<div class="box-body">
								<div class="row centerCol">
									<div class="col-xs-8 col-sm-8 col-md-8">
										<div class="form-group">
											<div class="ngOnlyEnter">
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-file-excel-o" aria-hidden="true"></i>
													</div>
													<input type="text" class="form-control inputFile" name="fileUploadTxt" 
														ng-required="true" 
														ng-disabled="true"
														ng-model="filesVO.fileUpload.name" />
													<div class="input-group-btn">
														<input id="fileUpload" type="file" name="fileUploadTxt" custom-on-change 
															handler="getFilesFromInput(params)" ng-show="false"/>
														<label for="{{(filesVO.fileUploaded == undefined || (filesVO.fileUploaded.cdStSeguimiento != 'RECIBIDO' && filesVO.fileUploaded.cdStSeguimiento != 'CARGANDO')) 
																		? 'fileUpload' : ''}}" class="btn btn-danger"
															ng-disabled="filesVO.fileUploaded.cdStSeguimiento == 'RECIBIDO' || filesVO.fileUploaded.cdStSeguimiento == 'CARGANDO'" 
															uib-tooltip="Examinar" tooltip-placement="right"
															tooltip-enable="{{isUseTooltip}}">
															<i class="fa fa-upload"></i>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
										<div class="col-xs-6 col-md-6">
											<button  class="btn btn-danger pull-right" ng-click="resetFile()"
												ng-disabled="filesVO.fileUpload == undefined">
												Cancelar
											</button>
										</div>
										<div class="col-xs-6 col-md-6">
											<button  class="btn btn-danger" ng-click="uploadFileService(formUpload)">
												Cargar
											</button>
										</div>
									</div>
								</div><br/>
								<div class="row">
									<div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4" id="eventRefresh">
				                        <div class="form-group">
				                            <div class="input-group">
				                                <select class="form-control" select2 id="selectTimeRefresh" 
				                                	data-minimum-results-for-search="Infinity" 
				                                	ng-model="filesVO.selectTimeRefresh" ng-change="cambiaTiempo()" 
				                                	ng-options="sws as sws.nbTimeRefresh for sws in filesVO.selectListTimeRefresh track by sws.idTimeRefresh">
				                                        <option value="" selected>Sin Refrescar</option>
				                                    </select>
				                                <div class="input-group-addon iconoBus" ng-click="refrescar()">
				                                    <span class="fa fa-refresh" aria-hidden="true" style="cursor: pointer;"></span>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
								</div>
							</div>
						 </form>
					</div>
				</div>
			</div>
			<!-- SECCION PARAMETROS DE BÚSQUEDA -->
			<!-- SECCION PARA TABLA DE RESULTADOS -->
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"
					ng-if="filesVO.fileUploaded != undefined">
					<div class="box box-danger">
						<div class="box-header with-border">
							<div class="row">
								<div class="col-xs-8 col-md-8 text-right">
									<h3 class="box-title">{{filesVO.fileUploaded.cdStSeguimiento == 'CARGADO' ? 'Archivo Cargado' : 'Archivo en Proceso'}}</h3>
								</div>
								<div class="col-xs-4 col-md-4">
									<div ng-if="filesVO.fileUploaded.cdStSeguimiento == 'CARGADO'">
										<a ng-click="descargarArchivo(filesVO.fileUploaded.idLoteOds)"> 
											<span class="pull-right"> 
												<img tooltip-placement="left" uib-tooltip="Descargar Archivo"
													tooltip-enable="{{isUseTooltip}}"
												 src="static/dist/img/excel.png"> 
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						
						<div class="box-body">
							<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
								<div class="row">
									<div class="col-xs-4 col-md-4 text-right">
										<label>Nombre:</label>
									</div>
									<div class="col-xs-8 col-md-8 text-left">
										<span>{{filesVO.fileUploaded.nbArchivoFinal}}</span>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4 col-md-4 text-right">
										<label>Número de registros:</label>
									</div>
									<div class="col-xs-8 col-md-8 text-left">
										<span>{{filesVO.fileUploaded.nuOdsReportados}}</span>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4 col-md-4 text-right">
										<label>Estatus:</label>
									</div>
									<div class="col-xs-8 col-md-8 text-left">
										<span>
										<!-- <span style="background-color:{{file.cdColor}} !important;
														color:#FFFFFF !important;"> -->
											{{filesVO.fileUploaded.nbStSeguimiento}}
										</span>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4 col-md-4 text-right">
										<label>Fecha:</label>
									</div>
									<div class="col-xs-8 col-md-8 text-left">
										<span>{{filesVO.fileUploaded.fhCreacion | date : "dd/MM/yyyy hh:mm:ss a" }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>