<meta charset="utf-8">
<div id="modalIncidenciasMonitoreo" class="modal fade" role="dialog"
	data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-lg modalIncidenciasMonitoreo" role="document">
		<div class="modal-content">
			<div class="modal-header bg-red-active">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close" ng-click="updateFront()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title center" id="myModalLabel">Incidendias Orden de Servicio: {{OrdenServicioModalIncidencias.cdOrdenServicio}}</h4>
			</div>
			
			<div class="modal-body">
				<form name="formIncidenciasMon" novalidate ng-repeat="incidencia in incidenciasMonVO.slice(((paramConfigPage.bigCurrentPage-1)*paramConfigPage.itemsPerPage),((paramConfigPage.bigCurrentPage)*paramConfigPage.itemsPerPage))">
					<div class="row">
						<div class="col-xs-6 col-md-6">
							<fieldset class="fieldsetModalIncidencias">
								<legend>Informacion de Incidencia</legend>
								<div class="row rowModalIncidencias">
									<div class="col-xs-6 col-md-6">
										<div class="form-group">
											<label>Folio Incidencia:</label>
											<div class="col-xs-12 col-md-12">
												{{incidencia.cdIncidencia}}
											</div>
										</div>
									</div>
									<div class="col-xs-6 col-md-6">
										<div class="form-group">
											<label>Nombre Incidencia:</label>
											<div class="col-xs-12 col-md-12">
												{{incidencia.nbIncidencia}}
											</div>
										</div>
									</div>
								</div>
								<div class="row rowModalIncidencias">
									<div class="col-xs-4 col-md-4">
										<div class="form-group" style="margin-bottom: 0px;">
											<label>Prioridad:</label>
											<div class="">
												<span class="etiquetaColor" 
													style="width:100%; background-color: {{incidencia.prioridad.cdColor}};">
													{{incidencia.prioridad.nbStSeguimiento}}
												</span>
											</div>
										</div>
									</div>
									<div class="col-xs-4 col-md-4">
										<div class="form-group" style="margin-bottom: 0px;">
											<label>Estatus:</label>
											<div class="">
												<span class="etiquetaColor" 
													style="width:100%; background-color: {{incidencia.stSeguimiento.cdColor}};">
													{{incidencia.stSeguimiento.nbStSeguimiento}}
												</span>
											</div>
										</div>
									</div>
									<div class="col-xs-4 col-md-4">
										<div class="form-group" style="margin-bottom: 0px;">
											<label>Tipo Incidencia:</label>
											<div class="">
												<span class="etiquetaColor" 
													style="width:100%; background-color: {{incidencia.tpIncidencia.cdColor}};">
													{{incidencia.tpIncidencia.nbStSeguimiento}}
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row rowModalIncidencias">
									<div class="col-xs-6 col-md-6">
										<div class="form-group">
											<label>Proceso:</label>
											<div class="col-xs-12 col-md-12">
												{{incidencia.iEproceso.nbProceso}}
											</div>
										</div>
									</div>
									<div class="col-xs-6 col-md-6">
										<div class="form-group">
											<label>Etapa:</label>
											<div class="col-xs-12 col-md-12">
												{{incidencia.encuesta.nbEncuesta}}
											</div>
										</div>
									</div>
								</div>
								<div class="row rowModalIncidencias">
									<div class="col-xs-12 col-md-12">
										<div class="form-group">
											<label>Descripcion Incidencia:</label>
											<div class="col-xs-12 col-md-12">
												<textarea id="infra_motivo" class="form-control" rows="7" 
													style="resize: none;" ng-model="incidencia.txIncidencia" disabled="true">
												</textarea>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
							<div class="container-fluid">
							
						<uib-pagination previous-text="<"
							next-text=">"
							total-items="paramConfigPage.bigTotalItems" num-pages="numPages"
							ng-model="paramConfigPage.bigCurrentPage"
							max-size="paramConfigPage.maxSize"
							items-per-page="paramConfigPage.itemsPerPage"
							class="pagination-md" boundary-link-numbers="true"
							direction-links="true" rotate="false">
						</uib-pagination>
							</div>
						</div>
						<div class="col-xs-6 col-md-6">
							<fieldset class="fieldsetModalIncidencias">
								<legend>Imagenes de Incidencia</legend>
								<div class="row rowModalIncidencias">
									<div class="col-xs-12 col-md-12">
										<div ng-show="incidencia.listaImagenes == undefined || incidencia.listaImagenes.length == 0">
											<div class="text-center">
												<h4 class="box-title">Sin imágenes</h4>
											</div>
											<div class="imgNotFount">
												<img ng-src="static/dist/img/image-not-found.svg" style="width: 38rem;"
													class="img-responsive center-block figure-img img-fluid img-rounded">
											</div>
										</div>
										
										<div uib-carousel active="0" ng-show="incidencia.listaImagenes.length > 0">
											<div uib-slide ng-repeat="img in incidencia.listaImagenes" index="$index">
												<div class="box-title">
													<h4 class="box-title">{{img.nbExpedienteODS}}</h4>
												</div>
												<div class="box-body">
													<figure class="figure">
														<img ng-src="data:image/img.cdTipoArchivo;base64,{{img.lbExpedienteODS}}"
															class="img-responsive center-block figure-img img-fluid img-rounded"
															>
													</figure>
												</div>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>