 <div class="modal fade" id="confirmacion" data-keyboard="false" data-backdrop="static">
  	<div class="modal-dialog">
   		<div class="modal-content">
   		
			<div class="modal-header bg-red-active"><h3 ng-if="!flagBtnGuardar">Nuevo {{nameModal}}</h3><h3 ng-if="flagCdUsuario">Registro Existente con Perfil {{nameModal}}</h3><h3 ng-if="flagBtnGuardar && !flagCdUsuario">Agregar Nuevo Perfil</h3></div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
								<!--  -->
							
						<form ng-if="flagBusqueda" role="form" name="formBusqueda">
						<div class="col-md-12">
									<div class="form-group" ng-class="{'has-error': formBusqueda.cdBusqueda.$invalid && formBusqueda.cdBusqueda.$dirty}">
										<label for="">Folio Usuario:</label>
										<div class="input-group">
											<span class="input-group-addon">
											<i class="fa fa-pencil"></i>
											</span>
											<input type="text" ng-model="cdBusqueda" name="cdBusqueda" ng-required="true"
												class="form-control" capitalize />
											<span class="input-group-btn">
											<button type="button"
													ng-click="buscarPersona(formBusqueda,cdBusqueda)"
													class="btn btn-danger btn-flat">Buscar
											</button>
											</span>
										</div>
									<div ng-show="formBusqueda.cdBusqueda.$invalid && formBusqueda.cdBusqueda.$dirty" ng-style="{color:'red'}">
                                        <span>El Folio es Requerido</span>
                                    </div>
									</div>
								
								</div>
							</form>	
						<!--  -->
							
						<form role="form" name="formObject">
								<div class="col-md-12">
									<div class="form-group"
										ng-class="{'has-error': formObject.nombre.$invalid && formObject.nombre.$dirty}">
										<label>
											*Nombre: </label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input  ng-disabled ="flagDisableInput" type="text" class="form-control" name="nombre" capitalize 
												ng-model="objeto.nombre" ng-required="true"
												maxlength="15">
										</div>
										<div
											ng-show="formObject.nombre.$error.required && formObject.nombre.$dirty"
											ng-style="{color:'red'}">
											<span>
												Campo Requerido </span>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group"
										ng-class="{'has-error': formObject.aPaterno.$invalid && formObject.aPaterno.$dirty}">
										<label>
											Apellido Paterno: </label>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-user"></i></span> <input  ng-disabled ="flagDisableInput"  type="text" capitalize 
												name="aPaterno" class="form-control"
												ng-model="objeto.aPaterno" ng-required="true"
												maxlength="15">
										</div>
										<div
											ng-show="formObject.aPaterno.$error.required && formObject.aPaterno.$dirty"
											ng-style="{color:'red'}">
											<span>
												Campo Requerido </span>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group"
										ng-class="{'has-error': formObject.aMaterno.$invalid && formObject.aMaterno.$dirty}">
										<label>
											*Apellido Materno: </label>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-user"></i></span> <input  ng-disabled ="flagDisableInput" type="text" capitalize
												name="aMaterno" class="form-control"
												ng-model="objeto.aMaterno" ng-required="true"
												maxlength="15">
										</div>
										<div
											ng-show="formObject.aMaterno.$error.required && formObject.aMaterno.$dirty"
											ng-style="{color:'red'}">
											<span>
												Campo Requerido</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<div class="container">
					<div class="boton">
						<button ng-if="!flagCdUsuario" class="btn bg-red-active btnMargin" type="button" ng-click="operacion(true,objeto,formObject)"><div  ng-if="flagBtnGuardar">Agregar Perfil {{nameModal}}</div><div ng-if="!flagBtnGuardar">Guardar</div></button>
						<button ng-if="flagCdUsuario" class="btn bg-red-active btnMargin" type="button" ng-click="aceptar(objeto)">Seleccionar</button>	
					</div>
					<div class="boton">
						<button class="btn bg-red-active btnMargin" type="button" ng-click="operacion(false,objeto,formObject)" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
				
		</div>
		
  	</div>
 </div>