<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etapas</title>
    <link rel="stylesheet" href="static/dist/css/custom/etapa/etapa.css" />
</head>
<body>
    <!-- breadCrumbs -->
    <section class="content-header">
        <h1>{{breadCrumbs.servicio}}</h1>
        <ol class="breadcrumb">
            <li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
            </a></li>
            <li class="active">{{breadCrumbs.servicio}}</li>
        </ol>
    </section>

    <!-- Incidencia -->
    <boton-incidencia id-orden="idOS"></boton-incidencia>

    <!-- información gral de solicitud -->
    <section class="content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="box box-danger">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title"> Orden de Servicio: {{dataEtapa.cdOrdenServicio}} </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="form-group">
                                            <label ng-if="dataEtapa.transportista != null ">
                                                Transportista: 
                                                <span class="etapa-texto">
                                                    {{dataEtapa.transportista}}
                                                </span>
                                            </label>
                                            <label ng-if="dataEtapa.transportista == null ">
                                                Transportista: 
                                                <span class="etapa-texto">
                                                    Sin nombre  de Transportista
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="form-group">
                                            <label>
                                                Cita Programada: 
                                                <span class="etapa-texto">
                                                    {{fcita | date:" dd / MM / yyyy - HH:MM"}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-4 col-xs-6">
                                        <div class="form-group" style="display: block; float:right;">
                                            <span class="glyphicon glyphicon glyphicon-time" aria-hidden="true"></span>
                                            <label>
                                                <div ng-if="tiempoTranscurridoOrden > 0">
                                                    <span class="etapa-texto">
                                                        Tiempo Transcurrido: {{hora<10?formato:''}}{{hora}}:{{minuto<10?formato:''}}{{minuto}}:{{segundo<10?formato:''}}{{segundo}}
                                                    </span>
                                                </div>
                                                <div ng-if="tiempoTranscurridoOrden == 0">
                                                    <span class="etapa-texto">
                                                        {{tiempoTranscurridoText}}
                                                    </span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="form-group" > 
                                            <label style="display: block !important;"  ng-if="dataEtapa.vehiculo.cdPlacaVehiculo != null ">
                                                Placa: 
                                                <span class="etapa-texto">
                                                    {{dataEtapa.vehiculo.cdPlacaVehiculo}}
                                                </span>
                                            </label>
                                            <label style="display: block !important;" ng-if="dataEtapa.vehiculo.cdPlacaVehiculo == null ">
                                                Placa: 
                                                <span class="etapa-texto">
                                                    Placa no Registrada
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="form-group">
                                            <label  ng-if="dataEtapa.vehiculo.cdTarjetaDeCirculacion != null ">
                                                Tarjeta de Circulación: 
                                                <span class="etapa-texto">
                                                    {{dataEtapa.vehiculo.cdTarjetaDeCirculacion}}
                                                </span>
                                            </label>
                                            <label  ng-if="dataEtapa.vehiculo.cdTarjetaDeCirculacion == null ">
                                                Tarjeta de Circulación: 
                                                <span class="etapa-texto">
                                                    Tarjeta no Registrada
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="form-group">
                                            <label  ng-if="dataEtapa.vehiculo.cdVin != null ">
                                                VIN: 
                                                <span class="etapa-texto">
                                                    {{dataEtapa.vehiculo.cdVin}}
                                                </span>
                                            </label>
                                            <label  ng-if="dataEtapa.vehiculo.cdVin == null ">
                                                VIN: 
                                                <span class="etapa-texto">
                                                    VIN no registrado
                                                </span>
                                            </label>
                                        </div>
                                    </div>
        
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="form-group">
                                            <label  ng-if="dataEtapa.vehiculo.consecionario != null ">
                                                Concesionario: 
                                                <span class="etapa-texto">
                                                    {{dataEtapa.vehiculo.consecionario.nbConsecion}}
                                                </span>
                                            </label>
                                            <label  ng-if="dataEtapa.vehiculo.consecionario == null ">
                                                Concesionario: 
                                                <span class="etapa-texto">
                                                    Concesionario no registrado
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="form-group">
                                            <label  ng-if="dataEtapa.vehiculo.tipoVehiculo != null ">
                                                Tipo  de Vehículo: 
                                                <span class="etapa-texto">
                                                    {{dataEtapa.vehiculo.tipoVehiculo.cdTipoVehiculo}}
                                                </span>
                                            </label>
                                            <label  ng-if="dataEtapa.vehiculo.tipoVehiculo == null ">
                                                Tipo  de Vehículo: 
                                                <span class="etapa-texto">
                                                    Tipo no registrado
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="form-group">
                                            <label  ng-if="dataEtapa.vehiculo.tipoVehiculo != null ">
                                                Nombre  de Vehículo: 
                                                <span class="etapa-texto">
                                                    {{dataEtapa.vehiculo.tipoVehiculo.nbTipoVehiculo}}
                                                </span>
                                            </label>
                                            <label  ng-if="dataEtapa.vehiculo.tipoVehiculo == null ">
                                                Nombre  de Vehículo: 
                                                <span class="etapa-texto">
                                                    Vehículo no registrado
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="form-group">
                                            <label  ng-if="dataEtapa.centroInstalacion != null ">
                                                Código de Centro de Instalación: 
                                                <span class="etapa-texto">
                                                    {{dataEtapa.centroInstalacion.cdCentroInstalacion}}
                                                </span>
                                            </label>
                                            <label  ng-if="dataEtapa.centroInstalacion == null ">
                                                Código de Centro de Instalación: 
                                                <span class="etapa-texto">
                                                    Código no registrado
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="form-group">
                                            <label  ng-if="dataEtapa.centroInstalacion != null ">
                                                Nombre de Centro de Instalación: 
                                                <span class="etapa-texto">
                                                    {{dataEtapa.centroInstalacion.nbCentroInstalacion}}
                                                </span>
                                            </label>
                                            <label  ng-if="dataEtapa.centroInstalacion == null ">
                                                Nombre de Centro de Instalación: 
                                                <span class="etapa-texto">
                                                    Nombre  no registrado
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="form-group">
                                            <label  ng-if="dataEtapa.kitInstalacion != null ">
                                                Kit Instalación: 
                                                <span class="etapa-texto">
                                                    {{dataEtapa.kitInstalacion.cdKitInstalacion}}
                                                </span>
                                            </label>
                                            <label  ng-if="dataEtapa.kitInstalacion == null ">
                                                Kit Instalación: 
                                                <span class="etapa-texto">
                                                    Kit no registrado
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="form-group">
                                            <label  ng-if="dataEtapa.plan != null ">
                                                Código de Plan: 
                                                <span class="etapa-texto">
                                                    {{dataEtapa.plan.cdPlan}}
                                                </span>
                                            </label>
                                            <label  ng-if="dataEtapa.plan == null ">
                                                Código de Plan: 
                                                <span class="etapa-texto">
                                                    Plan no registrado
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="form-group">
                                            <label  ng-if="dataEtapa.plan != null ">
                                               Nombre  de Plan: 
                                                <span class="etapa-texto">
                                                    {{dataEtapa.plan.nbPlan}}
                                                </span>
                                            </label>
                                            <label  ng-if="dataEtapa.plan == null ">
                                                Nombre  de Plan: 
                                                <span class="etapa-texto">
                                                    Plan no registrado
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <!--
                                        <div class="col-md-4 col-sm-12 ">
                                        <div class="form-group">
                                            <label  for="stValidar" class="labelCheck">
                                                Solo validar intalación
                                            </label>
                                            <br>
                                            <switcher class="swTeclo"
                                                ng-model="stValidarCheck"
                                                id-check="stValidar"
                                                true-label="<i class='fa fa-check-circle'></i>"
                                                true-value="1"
                                                false-label="<i class='fa fa-times-circle'></i>"
                                                false-value="0">
                                            </switcher>
                                        </div>
                                    </div>
                                    -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="box box-danger">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div style="float: right;">
                                        <update-image id-element-up="Etapa" show-in-modal="true"
                                        param-conf-sav="paramEtapaImg" max-nu-image="{{numMaxImg}}"
                                        param-conf-component="paramConfigImg" list-images="{{listImages}}"></update-image>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6 col-md-4" ng-repeat="item in dataPlan">
                                    <a ng-class="{'inactiv-click' : item.statusProceos == false}"
                                        href="#/etapas/proceso/{{item.proceso.idProceso}}/{{dataEtapa.idOrdenServicio}}" 
                                        data-toggle="tooltip" data-placement="bottom" title="{{item.proceso.nbProceso}}">
                                        <div class="dash-info" 
                                        ng-class="{'color-fondo': item.statusProceos == true, 'color-fondo-desactivado': item.statusProceos == false}">
                                            <div class="dash-img">
                                                <img class="dash-img-img" 
                                                    src="{{item.urlImg}}">
                                            </div>
                                            
                                            <div class="marcador" value="1" to="1" duration="2500" effect="swing">
                                                {{item.proceso.nbProceso}}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div style="float: right;">
                                        <a class="btn btn-primary" href="#/consulta" role="button">Regresar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

