<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etapas</title>
    <link rel="stylesheet" href="static/dist/css/custom/etapa/etapa.css" />
</head>
<body>
    <!-- breadCrumbs -->
    <section class="content-header">
        <h1>{{breadCrumbs.servicio}}</h1>
        <ol class="breadcrumb">
            <li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
            </a></li>
            <li class="active">{{breadCrumbs.servicio}}</li>
        </ol>
    </section>

    <!-- botón flotante para agregar incidencia -->
    <div class="btn-flotente-incidencia">
        <button type="button" class="btn btn-warning">
            <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span> Incidencia
        </button>
    </div>

    <!-- información gral de solicitud -->
    <section class="content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="box box-danger">
                    <div class="panel panel-default">
                        <div class="panel-heading center">
                            <h3>
                                <span>
                                    Orden de Solicitud
                                </span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <form>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Número de Orden de Solicitud: </label>
                                            <br>
                                            <span>Número de Orden de Solicitud</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6"></div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Fecha: </label>
                                            <br>
                                            <span>{{fechaHoy | date:"dd - MM - yy"}}</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Transportista: </label>
                                            <br>
                                            <span>
                                                Transportista
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Tipo de Vehiculo: </label>
                                            <br>
                                            <span>Tipo de Vehiculo</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Placa: </label>
                                            <br>
                                            <span>Placa</span>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Nombre de Centro de Instalación: </label>
                                            <br>
                                            <span>Centro de Instalación</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                    
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                    
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label># Serie KIT: </label>
                                            <br>
                                            <span>
                                                Número de Serie de KIT
                                            </span>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6"></div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label for="stValidar" class="labelCheck">
                                                Solo validar intalación
                                            </label>
                                            <br>
                                            <switcher class="swTeclo"
                                                id-check="stValidar"
                                                true-label="<i class='fa fa-check-circle'></i>"
                                                true-value="1"
                                                false-label="<i class='fa fa-times-circle'></i>"
                                                false-value="0">
                                            </switcher>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="box box-danger">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <br><br>
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instalación">
                                        <div class="dash-info color-fondo">
                                            <div class="dash-img">
                                                <img class="dash-img-img" 
                                                    src="static/dist/img/etapas/003-mechanic.png">
                                            </div>
                                            
                                            <div class="marcador" value="1" to="1" duration="2500" effect="swing">
                                                Instalación
                                            </div>
                                        </div>
                                    </a>
                                    
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Plataforma">
                                        <div class="dash-info color-fondo">
                                            <div class="dash-img">
                                                <img class="dash-img-img" 
                                                    src="static/dist/img/etapas/002-null.png">
                                            </div>
                                            
                                            <div class="marcador" value="1" to="1" duration="2500" effect="swing">
                                                Plataforma
                                            </div>
                                        </div>
                                    </a>
                                    
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Holograma">
                                        <div class="dash-info color-fondo">
                                            <div class="dash-img">
                                                <img class="dash-img-img" 
                                                    src="static/dist/img/etapas/001-qr-code.png">
                                            </div>
                                            
                                            <div class="marcador" value="1" to="1" duration="2500" effect="swing">
                                                Holograma
                                            </div>
                                        </div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

