<head>
    <meta charset="UTF-8" />
</head>
<section class="content-header">
    <h1>{{breadCrumbs.servicio}}</h1>
    <ol class="breadcrumb">
        <li>
            <a>
                <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
            </a>
        </li>
        <li class="active">{{breadCrumbs.servicio}}</li>
    </ol>
</section>

<section class="content">
    <form role="form" name="consultaIncidencia" novalidate>
        <div class="row">
            <div class="col-xs-12 col-md-offset-4 col-md-4">
                <div class="box box-danger">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title"> Búsqueda Incidencia</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{'has-error': consultaIncidencia.valorBusqueda.$invalid && consultaIncidencia.valorBusqueda.$dirty}">
                                    <label for=""> *{{'ORDENSERVICIO.AltaServicio.seleccionadores.valor.label' | translate}} </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"> <i class="fa fa-pencil"> </i> </span>
                                        <input type="text" ng-model="general.cdIncidencia" name="valorBusqueda" class="form-control" capitalize required></input>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="buscarIncidencia(general.cdIncidencia, consultaIncidencia)" class="btn btn-danger btn-flat" >
                                                Buscar
                                            </button>
                                        </span>
                                    </div>
                                    <div ng-show="consultaIncidencia.valorBusqueda.$invalid && consultaIncidencia.valorBusqueda.$dirty" ng-style="{color:'red'}">
                                        <label> {{'ORDENSERVICIO.AltaServicio.seleccionadores.valor.validacion' | translate}} </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form role="form" name="editarOS" novalidate>
        <div class="row" ng-if="banderas.formEditar">

            <div class="col-md-12">
                <fieldset class="scheduler-border fieldsetCustom">
                    <legend class="scheduler-border text-center">Incidencia</legend>
                    <div class="row">
                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <td><dt>Folio:</dt></td>
                                        <td>{{general.voIncidencia.cdIncidencia}}</td>
                                        <td><dt>Nombre:</dt></td>
                                        <td>{{general.voIncidencia.nbIncidencia}}</td>
                                        <td><dt>Descripción:</dt></td>
                                        <td>{{general.voIncidencia.txIncidencia}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </div>

            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : editarOS.cdOrdenServicio.$invalid && editarOS.cdOrdenServicio.$dirty}">
                                    <label><span class="asteriskReq">*</span>Folio de Servicio</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-barcode"></i>
                                        </div>
                                        <input type="text" capitalize  class="form-control" name="cdOrdenServicio" id="cdOrdenServicio" ng-model="general.voModal.cdOrdenServicio" required ng-disabled="banderas.folioDisable" />
                                        <span class="input-group-btn" ng-if="!banderas.folioDisable">
                                            <button type="button" 
                                            ng-click="buscaServicio(general.voModal.cdOrdenServicio, editarOS)" 
                                            class="btn btn-danger btn-flat">
                                                Buscar
                                            </button>
                                        </span>
                                        <span class="input-group-btn" ng-if="banderas.folioDisable">
                                            <button type="button" 
                                            ng-click="resetActualData()" 
                                            class="btn btn-danger btn-flat">
                                                Resetear
                                            </button>
                                        </span>
                                    </div>
                                    <div ng-show="editarOS.cdOrdenServicio.$invalid && editarOS.cdOrdenServicio.$dirty">
                                        <span class="help-block">Es necesario especificar el folio</span
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label><span class="asteriskReq">*</span>Lote</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-archive"></i>
                                            </div>
                                            <input type="text" class="form-control" name="nbLoteOds" id="nbLoteOds" ng-model="general.voModal.loteOrdenServicio.nbLoteOds" ng-disabled="true" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" ng-class="{ 'has-error' : editarOS.nbCentroInstalacion.$invalid && editarOS.nbCentroInstalacion.$dirty}">
                                        <label><span class="asteriskReq">*</span>Centro Instalación</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-list-ul"></i>
                                            </div>
                                            <select id="nbCentroInstalacion" name="nbCentroInstalacion" class="form-control" required select2 idioma-s2="{{currentLanguage}}" ng-model="general.voModal.centroInstalacion" ng-options="m as m.nbCentroInstalacion for m in listas.centroInstalacion track by m.idCentroInstalacion">
                                          <option value=""
                                            >{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option
                                          >
                                        </select>
                                        </div>
                                        <div ng-show="editarOS.nbCentroInstalacion.$invalid && editarOS.nbCentroInstalacion.$dirty">
                                            <span class="help-block">Es necesario especificar el centro de atención</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : editarOS.hrCita.$invalid && editarOS.hrCita.$dirty}">
                                  <label><span class="asteriskReq">*</span>Hora de Servicio</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                                <input class="form-control inputFecha" ng-disabled="true" name="hrCita" id="hrCita" ng-model="general.voModal.fhCita" readonly />
                                            </div>
                                            <div ng-show="editarOS.hrCita.$invalid && editarOS.hrCita.$dirty">
                                                <span class="help-block">Es necesario especificar la hora</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Fecha de Inicio</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input class="form-control inputFecha" id="fhAtencionIni" date-picker idioma-dp="{{currentLanguage}}" mindate="'29/01/2018'" maxdate="'09/02/2018'" elemento="'fhAtencionIni'" ng-model="general.voModal.fhAtencionIni" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Fecha Fin</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input class="form-control inputFecha" id="fhAtencionFin" date-picker idioma-dp="{{currentLanguage}}" mindate="'29/01/2018'" maxdate="'09/02/2018'" elemento="'fhAtencionFin'" ng-model="general.voModal.fhAtencionFin" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Kit</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-list-ul"></i>
                                                </div>
                                                <select id="kit" name="kit" class="form-control" select2 idioma-s2="{{currentLanguage}}" ng-model="general.voModal.kitInstalacion" ng-options="m as m.cdKitInstalacion for m in listas.kitInstalacion track by m.idKitInstalacion">
                                          <option value=""
                                            >{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option
                                          >
                                        </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : editarOS.plan.$invalid && editarOS.plan.$dirty}">
                                            <label><span class="asteriskReq">*</span>Plan</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-list-ul"></i>
                                                </div>
                                                <select id="plan" name="plan" class="form-control" required select2 idioma-s2="{{currentLanguage}}" ng-model="general.voModal.plan" ng-options="m as m.nbPlan for m in listas.planInstalacion track by m.idPlan">
                                          <option value=""
                                            >{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option
                                          >
                                        </select>
                                            </div>
                                            <div ng-show="editarOS.plan.$invalid && editarOS.plan.$dirty">
                                                <span class="help-block">Es necesario especificar el kit</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="box-header with-border text-center">
                                        <h3 class="box-title">Vehículo</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{ 'has-error' : editarOS.cdPlaca.$invalid && editarOS.cdPlaca.$dirty}">
                                            <label><span class="asteriskReq">*</span>Placa</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-barcode"></i>
                                                </div>
                                                <input type="text" class="form-control" name="cdPlaca" id="cdPlaca" capitalize ng-model="general.voModal.vehiculo.cdPlacaVehiculo" required />
                                            </div>
                                            <div ng-show="editarOS.cdPlaca.$invalid && editarOS.cdPlaca.$dirty">
                                                <span class="help-block">La placa es requerida</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{ 'has-error' : editarOS.cdVin.$invalid && editarOS.cdVin.$dirty}">
                                            <label><span class="asteriskReq">*</span>VIN</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-barcode"></i>
                                                </div>
                                                <input type="text" class="form-control" name="cdVin" id="cdVin" ng-model="general.voModal.vehiculo.cdVin" required />
                                            </div>
                                            <div ng-show="editarOS.cdVin.$invalid && editarOS.cdVin.$dirty">
                                                <span class="help-block">El VIN del vehículo es requerido</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Tarjeta Circulación</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-barcode"></i>
                                                </div>
                                                <input type="text" class="form-control" name="cdTarjetaDeCirculacion" id="cdTarjetaDeCirculacion" ng-model="general.voModal.vehiculo.cdTarjetaDeCirculacion" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Tipo Vehículo</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-list-ul"></i>
                                                </div>
                                                <select id="idTipoVehiculo" name="idTipoVehiculo" class="form-control" select2 idioma-s2="{{currentLanguage}}" ng-model="general.voModal.vehiculo.tipoVehiculo" ng-options="m as m.nbTipoVehiculo for m in listas.tipoVehiculo track by m.idTipoVehiculo">
                                          <option value=""
                                            >{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option
                                          >
                                        </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Marca</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-barcode"></i>
                                                </div>
                                                <input type="text" class="form-control" name="nbMarca" id="nbMarca" ng-model="general.voModal.vehiculo.nbMarca" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Submarca</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-barcode"></i>
                                                </div>
                                                <input type="text" class="form-control" name="nbSubMarca" id="nbSubMarca" ng-model="general.voModal.vehiculo.nbSubMarca" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Modelo</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-barcode"></i>
                                                </div>
                                                <input type="text" class="form-control" name="cdModelo" id="cdModelo" ng-model="general.voModal.vehiculo.cdModelo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <!-- <div class="col-md-2">
                                    <button type="button" class="btn btn-danger" ng-click="regresar()" tooltip="Regresar" tooltip-placement="right">
                                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    </button>
                                </div> -->
                                    <div class="col-md-12 text-center">
                                        <button ng-disabled="!banderas.folioDisable" class="btn btn-danger fadeInDown a-10ms" ng-click="guardar(general.voModal, editarOS)">
                                        Guardar
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </form>
</section>

<!--<section class="content">
    
</section>-->