<head>
	<meta charset="UTF-8">
</head>
<body>
	<section class="content-header">
		<h1>{{breadCrumbs.servicio}}</h1>
		<ol class="breadcrumb">
			<li>
				<a>
					<i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
				</a>
			</li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	
	<section class="content">
		<form role="form" name="formAltaServicio" novalidate>
			<div class="row">
				<div class="col-xs-12 col-md-offset-2 col-md-8">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">
								Orden de Servicio
							</h3>
						</div>
						<div class="box-body">
<!-- 						PRIMER ROW -->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': (incidendiaRequerida || formAltaServicio.incidencia.$dirty) && (parametroBusqueda.incidencia=='' || parametroBusqueda.incidencia==undefined )}">
										<label for="">*Folio de Incidencia:</label>
										<div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</span>
											<input type="text" ng-model="parametroBusqueda.incidencia" name="incidencia" ng-required="true"
												class="form-control" capitalize />
											<span class="input-group-btn">
												<button type="button"
													ng-click="buscarIncidencia(parametroBusqueda.incidencia)"
													class="btn btn-danger btn-flat">Buscar
												</button>
											</span>
										</div>
									<div ng-show="(incidendiaRequerida || formAltaServicio.incidencia.$dirty) && (parametroBusqueda.incidencia=='' || parametroBusqueda.incidencia==undefined) " ng-style="{color:'red'}">
                                        <label>El folio de la incidencia es requerida. </label>
                                    </div>
									</div>
								</div>

							
							<div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error': (vehicPlaca || formAltaServicio.valorBusqueda.$dirty ) && (cdPlacaVehiculo=='' || cdPlacaVehiculo==undefined)}">
                                    <label for="">*Placa Vehícular: </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"> <i class="fa fa-pencil"> </i> </span>
                                        <input type="text" ng-model="cdPlacaVehiculo" maxlength="11" name="valorBusqueda" ng-required="true" class="form-control" capitalize>
                                        
	                                        <span class="input-group-btn">
							                      	<button type="button" ng-click="buscarVehculoPorPlaca(cdPlacaVehiculo)" class="btn btn-danger btn-flat" >
							                      		Buscar
							                      	</button>
						                     </span>
                                    </div>
                                    <div ng-show=" (vehicPlaca || formAltaServicio.valorBusqueda.$dirty ) && (cdPlacaVehiculo=='' || cdPlacaVehiculo==undefined) " ng-style="{color:'red'}">
                                        <label> La placa vehícular es requerida. </label>
                                    </div>
                                </div>
                            </div>                            
							</div>
							 <div class="row" ng-show="mostrarAlta">
                            	<div class="col-md-12">
                            		<fieldset style="min-height: 0px !important;">
                            			<legend class="scheduler-border text-center">Datos de la incidencia</legend>
                            			<div class="row">
                            				<div class="col-md-6">
                            					<div class="form-group">
                            						<label for="">Nombre de la Incidencia:</label>
                            						<div class="input-group">
                            							<div class="input-group-addon">
                            								<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
                            							</div>
                            							<input class="form-control" name="nbIncidencia" ng-model="incidencia.nbIncidencia"
                            							type="text"  ng-disabled="true">
                            						</div>
                            					</div>
                            				</div>
                            				<div class="col-md-6">
                            					<label for="">Descripción de la Incidencia</label>
                            					<div class="input-group">
                            						<div class="input-group-addon">
                            							<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
                            						</div>
                            						<textarea style="overflow:auto;resize:none;height:auto" class="form-control" name="txIncidencia" ng-model="incidencia.txIncidencia" ng-disabled="true">
                            						</textarea>
                            					</div>
                            				</div>
                            			</div>
                            		</fieldset>
                            	</div>
                            </div>
<!-- 							FIN PRIMER ROW -->
<!-- 							INICIA SEGUNDO ROW -->
							<div class="row">
								<div class="col-md-12" ng-show="banderaVehiculo" ng-disabled="true">
									<fieldset class="scheduler-border">
										<legend class="scheduler-border text-center">Datos del vehículo</legend>
										<div class="row">
									<div class="col-md-4">
										<div class="form-group" ng-class="{'has-error': formAltaServicio.placaVehicular.$invalid && formAltaServicio.placaVehicular.$dirty}">
												<label for="">*Placa Vehícular:</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>								
													</div>
													<input maxlength="11" type="text" id="placaVehicular" class="form-control"
                                            				name="placaVehicular" ng-model="orden.vehiculoVO.placa" capitalize
                                            				autocomplete="off" required ng-disabled="true">
												</div>
												<div ng-show="formAltaServicio.placaVehicular.$invalid && formAltaServicio.placaVehicular.$dirty" ng-style="{color:'red'}">
             										<label> La placa vehícular es requerida. </label>
												</div>
										</div>
									</div>

								<div class="col-md-4">
									<div class="form-group"  ng-class="{'has-error': formAltaServicio.codigoVin.$invalid && formAltaServicio.codigoVin.$dirty}">
									<label for="">*Código VIN:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-sort-numeric-asc" arian-hidden="true"></i>
											
										</div>
										<input maxlength="100" type="text" id="codigoVin" class="form-control"
                                          	name="codigoVin" ng-model="orden.vehiculoVO.cdVIN" capitalize
                                          	autocomplete="off" required ng-disabled="banderadeshabilitar">
									</div>
									<div ng-show="formAltaServicio.codigoVin.$invalid  && formAltaServicio.codigoVin.$dirty" ng-style="{color:'red'}">
             							<label> El código es requerido. </label>
									</div>
									</div>
								</div>
								
								<div class="col-md-4">
									<div class="form-group" ng-class="{'has-error': formAltaServicio.tjCirculacion.$invalid && formAltaServicio.tjCirculacion.$dirty}">
												<label for="">*Tarjeta de Circulación:</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-sort-numeric-asc" irian-hidden="true"></i>
													</div>
													<input maxlength="30" type="text" id="tjCirculacion" class="form-control"
                                            			name="tjCirculacion" ng-model="orden.vehiculoVO.tjtCirculacion"
                                            				autocomplete="off" required ng-disabled="banderadeshabilitar" capitalize>
												</div>
												<div ng-show="formAltaServicio.tjCirculacion.$invalid  && formAltaServicio.tjCirculacion.$dirty" ng-style="{color:'red'}">
             										<label> La tarjeta de circulación es requerida. </label>
												</div>
									</div>
								</div>

										</div>
										<!-- SEGUNDA FILA -->
										<div class="row">
											<div class="col-md-4">
												<div class="form-group" ng-class="{'has-error': formAltaServicio.tipopVehiculo.$invalid && formAltaServicio.tipopVehiculo.$dirty}">
													<label>*Tipo Vehículo:</label>
													<div class="input-group">
														<div class="input-group-addon">
															<i class="fa fa-list-ul"></i>
															
														</div>
														<select class="form-control select2" select2  id="tipopVehiculo" name="tipopVehiculo"
															ng-options="tpVehiculo.nbTipoVehiculo  for tpVehiculo in catalogoTipoVehiculo track by tpVehiculo.idTipoVehiculo"
															ng-model="orden.vehiculoVO.tpVehiculo"
															style="width:100%" ng-disabled="banderadeshabilitar" required>
															<option value="">Seleccione</option>
														</select>
													</div>
													<div ng-show="formAltaServicio.tipopVehiculo.$invalid && formAltaServicio.tipopVehiculo.$dirty" ng-style="{color:'red'}">
                                        				<label> El tipo de vehículo es requerido. </label>
                                   					</div>
													</div>
											</div>

								
								<div class="col-md-4">
									<div class="form-group" ng-class="{'has-error': formAltaServicio.marca.$invalid && formAltaServicio.marca.$dirty}">
										<label for="">*Marca:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
											</div>
												<input maxlength="10" type="text" id="marca" class="form-control"
                                            				name="marca" ng-model="orden.vehiculoVO.marca" capitalize
                                            				autocomplete="off" required ng-disabled="banderadeshabilitar">
										</div>
										<div ng-show="formAltaServicio.marca.$invalid  && formAltaServicio.marca.$dirty" ng-style="{color:'red'}">
             								<label> La marca es requerida. </label>
										</div>
									</div>
								</div>

											<div class="col-md-3">
												<div class="form-group" ng-class="{'has-error': formAltaServicio.subMarca.$invalid && formAltaServicio.subMarca.$dirty}">
												<label form="">*Sub Marca:</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
														
													</div>
													<input maxlength="10" type="text" id="subMarca" class="form-control"
                                            				name="subMarca" ng-model="orden.vehiculoVO.subMarca" capitalize
                                            				autocomplete="off" required ng-disabled="banderadeshabilitar">
												</div>
												<div ng-show="formAltaServicio.subMarca.$invalid  && formAltaServicio.subMarca.$dirty" ng-style="{color:'red'}">
             										<label> La sub marca es requerida. </label>
												</div>
												</div>
											</div>
											
										</div>
<!-- 										TERCERA FILA -->
										<div class="row">
												<div class="col-md-6">
												<div class="form-group" ng-class="{'has-error': formAltaServicio.cdModelo.$invalid && formAltaServicio.cdModelo.$dirty}">
												<label form="">*Año Modelo:</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
														
													</div>
													<input type="text" class="form-control" maxlength="4"
                                            				name="cdModelo" ng-model="orden.vehiculoVO.cdModelo"  pattern="[0-9]{4}"  
                                            				autocomplete="off" required ng-disabled="banderadeshabilitar">
												</div>
												<div ng-show="formAltaServicio.cdModelo.$invalid  && formAltaServicio.cdModelo.$dirty" ng-style="{color:'red'}">
             										<label> El año del modelo es requerido. </label>
												</div>
												</div>
											</div>
											
											<div class="col-md-4">
											  <div class="form-group" ng-class="{'has-error': formAltaServicio.catConcesionario.$invalid && formAltaServicio.catConcesionario.$dirty}">
												<label>*Concesionaria :</label>
													<div class="input-group">
														<div class="input-group-addon">
															<i class="fa fa-list-ul"></i>
															
														</div>
														<select class="form-control select2" select2  id="catConcesionario" name="catConcesionario"
															ng-options="concesionaria.nbConsecion  for concesionaria in catalogoProcesos.concesionariaVO track by concesionaria.idConsecion"
															ng-model="orden.vehiculoVO.concesionaria" required
															style="width:100%" ng-disabled="banderadeshabilitar" >
															<option value="">Seleccione</option>
														</select>
													</div>
													<div ng-show="formAltaServicio.catConcesionario.$invalid  && formAltaServicio.catConcesionario.$dirty" ng-style="{color:'red'}">
             												<label> La concesionaria es requerida. </label>
													</div>
													
													</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						
<!-- 							TERMINA SEGUNDO ROW -->

<!-- 							INICIA TERCER ROW -->

							<div class="row">
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': formAltaServicio.cdOrden.$invalid && formAltaServicio.cdOrden.$dirty}">
										<label for="">*Orden de Servicio:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
											</div>
											<input type="text" class="form-control inputs" name="cdOrden"
											ng-model="orden.cdOrden" placeholder="" maxlength="15" required capitalize>
										</div>
										<div ng-show="formAltaServicio.cdOrden.$invalid  && formAltaServicio.cdOrden.$dirty" ng-style="{color:'red'}">
                                        <label> La orden de servicio es requerida. </label>
                                    </div>
										
									</div>
																	</div>
																	
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': formAltaServicio.centroI.$invalid && formAltaServicio.centroI.$dirty}">
										<label>*Centro de Instalación</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-cubes" aria-hidden="true"></i>
											</div>
											<select class="form-control select2" select2 id="centroI" name="centroI" required
											ng-options="cntInstalacion.idCentroInstalacion as cntInstalacion.nbCentroInstalacion for cntInstalacion in catalogoProcesos.centrosInstalacion"
											ng-model="orden.centroI">
											<option value="">Seleccione</option>
											</select>
										</div>
										<div ng-show="formAltaServicio.centroI.$invalid && formAltaServicio.centroI.$dirty" ng-style="{color:'red'}">
                                        <label> El centro de instalación es requerida. </label>
                                    </div>
									</div>
									
								</div>


							</div>
<!-- 							TERMINA TERCER ROW -->
<!-- 							INICIA CUARTO ROW -->
						
							<div class="row">
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': formAltaServicio.tpKit.$invalid && formAltaServicio.tpKit.$dirty}">
										<label>*Tipo de Kit: </label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-cubes" aria-hidden="true"></i>
											</div>
										<select class="form-control select2" select2 name="tpKit"  id="tpKit" required
											ng-options="tpKit.idTipoKit as tpKit.nbTipoKit for tpKit in catalogoProcesos.tipoKit"
											ng-change="buscarTipoKit(orden.tpKit)"
											ng-model="orden.tpKit">
										<option value="">Seleccione</option>
										</select>
										</div>
									<div ng-show="formAltaServicio.tpKit.$invalid  && formAltaServicio.tpKit.$dirty" ng-style="{color:'red'}">
                                        <label> El tipo de kit es requerido. </label>
                                    </div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group" >
										<label for="">Serie de Kit:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
											</div>
											<input type="text" name="serieKit"  class="form-control inputs" ng-model="orden.cdKitIntalacion" capitalize>
										</div>
<!-- 										<div ng-show="formAltaServicio.serieKit.$invalid  && formAltaServicio.serieKit.$dirty" ng-style="{color:'red'}"> -->
<!--                                         	<label>La serie del kit es requerido. </label> -->
<!--                                     	</div> -->
									</div>
								</div>
								
							</div>
<!-- 							TERMINA CUARTO ROW -->

						<fieldset class="scheduler-border" ng-show="filKit">
							<legend class="scheduler-border text-center">Datos del Kit</legend>
							<div class="row" ng-repeat="rango in range track by $index">
								<div class="col-md-4">
									<div class="form-group">
										<label form="">Dispósitivo:</label>
											<div class="input-group">
												<div class="input-group-addon">
														<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
														
												</div>
												<input maxlength="100" type="text" id="nbDispositivo-{{$index}}" class="form-control"
                                            	name="nbDispositivo-{{$index}}" ng-model="rango.nbDispositivo"
                                            	autocomplete="off" ng-disabled="true">
											</div>
									</div>
								</div>
								
								<div class="col-md-4" >
									<div class="form-group">
										<label form="">Serie:</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
												</div>
												<input maxlength="10" type="text" id="cdSerie-{{$index}}" class="form-control"
                                            				name="cdSerie-{{$index}}" ng-model="rango.serie"
                                            				autocomplete="off"  capitalize>
											</div>
									</div>
								</div>
								<div class="col-md-4">
<!-- 								para el class siguiente  -->
								<div class="form-group" ng-class="{'has-error': formAltaServicio['proveedor-'+$index].$invalid && formAltaServicio['proveedor-'+$index].$dirty}">
									<label>*Proveedor: </label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-cubes" aria-hidden="true"></i>
										</div>
										<select class="form-control select2 select2-proveedor-container" select2 id="proveedor-{{$index}}" name="proveedor-{{$index}}"  
											ng-options="proveed.idProveedor as proveed.nbProveedor for proveed in catalogoProcesos.proveedorVO"
											ng-model="rango.proveedor" required>
										<option value="">Seleccione</option>
										</select>
									</div>
								 <div ng-show="formAltaServicio['proveedor-'+$index].$invalid  && formAltaServicio['proveedor-'+$index].$dirty" ng-style="{color:'red'}">
                                        <label> El nombre del proveedor es requerido. </label>
                                 </div>
								</div>

							</div>						
							</div>
							</fieldset>
<!-- 							TERMINA QUINTO ROW -->
<!-- 							INICIA SEXTO ROW -->

							<div class="row">
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': formAltaServicio.plan.$invalid && formAltaServicio.plan.$dirty}">
										<label>*Plan: </label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-cubes" aria-hidden="true"></i>
											</div>
											<select class="form-control select2" select2 id="plan" name="plan"
											ng-options="plan.idPlan as plan.nbPlan for plan in catalogoProcesos.plan"
											ng-model="orden.plan"  required >
											<option value="">Seleccione</option>
											</select>
										</div>
										<div ng-show="formAltaServicio.plan.$invalid && formAltaServicio.plan.$dirty" ng-style="{color:'red'}">
                                        	<label> El plan es requerido. </label>
                                    	</div>
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': formAltaServicio.fhCita.$invalid && formAltaServicio.fhCita.$dirty}">
										<label>*Fecha de Cita:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
											</div>
											<input id="fhCita"
												datetime-picker
                                            	idioma-dtp="{{currentLanguage}}"
												name="fhCita" 
												class="form-control inputFecha"
												ng-model="orden.fhCita" 
												options="dateTimePickerOptions"
												required >
										</div>
										<div ng-show="formAltaServicio.fhCita.$invalid && formAltaServicio.fhCita.$dirty" ng-style="{color:'red'}">
                                        	<label> La fecha es requerida. </label>
                                    	</div>
									</div>
								</div>
							
							</div>
<!-- 							TERMINA SEXTO ROW -->
							
							<div class="centerCol">
							    <span class="input-group-btn">
						              <button ng-show="mostrarAlta"type="button" ng-click="guardarOrden(range, orden)" class="btn btn-danger btn-flat" >
						                      		Guardar
						              </button>
					           </span>
					       </div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>