<head>
	<meta charset="UTF-8">
</head>
<body>
	<section class="content-header">
		<h1>{{breadCrumbs.servicio}}</h1>
		<ol class="breadcrumb">
			<li>
				<a>
					<i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
				</a>
			</li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	
	<section class="content">
		<form role="form" name="formAltaServicio" novalidate>
			<div class="row">
				<div class="col-xs-12 col-md-offset-2 col-md-8">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">
								
							</h3>
						</div>
						<div class="box-body">
<!-- 						PRIMER ROW -->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': formConsultaServicio.incidencia.$invalid && formConsultaServicio.incidencia.$dirty}">
										<label for="">*Folio de Incidencia:</label>
										<div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</span>
											<input type="text" ng-model="parametroBusqueda.incidencia" name="incidencia" ng-required="true"
												class="form-control" capitalize />
											<span class="input-group-btn">
												<button type="button"
													ng-click="buscarIncidencia(parametroBusqueda.incidencia)"
													class="btn btn-danger btn-flat">Buscar
												</button>
											</span>
										</div>
									<div ng-show="formAltaServicio.incidencia.$invalid && formAltaServicio.incidencia.$dirty" ng-style="{color:'red'}">
                                        <label>El folio de la incidencia es requerida</label>
                                    </div>
									</div>
								</div>

							
							<div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error': formConsultaServicio.valorBusqueda.$invalid && formConsultaServicio.valorBusqueda.$dirty}">
                                    <label for="">*Placa Vehicular </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"> <i class="fa fa-pencil"> </i> </span>
                                        <input type="text" ng-model="cdPlacaVehiculo" maxlength="11" name="valorBusqueda" ng-required="true" class="form-control" capitalize>
                                        </input>
	                                        <span class="input-group-btn">
							                      	<button type="button" ng-click="buscarVehculoPorPlaca(cdPlacaVehiculo)" class="btn btn-danger btn-flat" >
							                      		Buscar
							                      	</button>
						                     </span>
                                    </div>
                                    <div ng-show="formAltaServicio.valorBusqueda.$invalid && formAltaServicio.valorBusqueda.$dirty" ng-style="{color:'red'}">
                                        <label> {{'ORDENSERVICIO.AltaServicio.seleccionadores.valor.validacion' | translate}} </label>
                                    </div>
                                </div>
                            </div>
							
							</div>
<!-- 							FIN PRIMER ROW -->
<!-- 							INICIA SEGUNDO ROW -->
							<div class="row">
								<div class="col-md-12" ng-show="banderaVehiculo" ng-disabled="true">
									<fieldset class="scheduler-border">
										<legend class="scheduler-border text-center">Datos del vehículo</legend>
										<div class="row">
									<div class="col-md-4">
										<div class="form-group">
												<label for="">Placa Vehícular:</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>								
													</div>
													<input maxlength="11" type="text" id="placaOficial" class="form-control"
                                            				name="placaOficial" ng-model="orden.vehiculoVO.placa"
                                            				autocomplete="off" ng-required="true" ng-disabled="banderadeshabilitar">
												</div>
										</div>
									</div>

								<div class="col-md-4">
									<div class="form-group">
									<label for="">Codigo VIN:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-sort-numeric-asc" arian-hidden="true"></i>
											
										</div>
										<input maxlength="10" type="text" id="placaOficial" class="form-control"
                                          	name="placaOficial" ng-model="orden.vehiculoVO.cdVIN"
                                          	autocomplete="off" ng-required="true" ng-disabled="banderadeshabilitar">
									</div>
									</div>
								</div>
								
								<div class="col-md-4">
									<div class="form-group">
												<label for="">Tarjeta de Circulación:</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-sort-numeric-asc" irian-hidden="true"></i>
													</div>
													<input maxlength="10" type="text" id="placaOficial" class="form-control"
                                            			name="placaOficial" ng-model="orden.vehiculoVO.tjtCirculacion"
                                            				autocomplete="off" ng-required="true" ng-disabled="banderadeshabilitar">
												</div>
									</div>
								</div>

										</div>
										<!-- SEGUNDA FILA -->
										<div class="row">
											<div class="col-md-4">
												<label for="">Tipo Vehiculo:</label>
													<div class="input-group">
														<div class="input-group-addon">
															<i class="fa fa-list-ul"></i>
															
														</div>
														<select class="form-control" select2 data-minimum-results-for-search="Infinity" id="tipopVehiculo"
															ng-options="tpVehiculo.nbTipoVehiculo  for tpVehiculo in catalogoTipoVehiculo track by tpVehiculo.idTipoVehiculo"
															ng-model="orden.vehiculoVO.tpVehiculo"
															style="width:100%" >
															<option value="">Seleccione</option>
														</select>
													</div>
											</div>
<!-- 											ng-disabled="banderadeshabilitar" -->

								<div class="col-md-4">
									<div class="form-group">
										<label for="">Marca:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
											</div>
												<input maxlength="10" type="text" id="placaOficial" class="form-control"
                                            				name="placaOficial" ng-model="orden.vehiculoVO.marca"
                                            				autocomplete="off" ng-required="true" ng-disabled="banderadeshabilitar">
										</div>
									</div>
								</div>

											<div class="col-md-3">
												<div class="form-group">
												<label form="">Sub Marca:</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
														
													</div>
													<input maxlength="10" type="text" id="placaOficial" class="form-control"
                                            				name="placaOficial" ng-model="orden.vehiculoVO.subMarca"
                                            				autocomplete="off" ng-required="true" ng-disabled="banderadeshabilitar">
												</div>
												</div>
											</div>
											
										</div>
<!-- 										TERCERA FILA -->
										<div class="row">
												<div class="col-md-6">
												<div class="form-group">
												<label form="">Código Modelo:</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
														
													</div>
													<input maxlength="10" type="number" id="codigoModelo" class="form-control"
                                            				name="cdModelo" ng-model="orden.vehiculoVO.cdModelo"  maxlength="4"
                                            				autocomplete="off" ng-required="true" ng-disabled="banderadeshabilitar">
												</div>
												</div>
											</div>
											
											<div class="col-md-4">
												<label for="">Concesion :</label>
													<div class="input-group">
														<div class="input-group-addon">
															<i class="fa fa-list-ul"></i>
															
														</div>
														<select class="form-control" select2 data-minimum-results-for-search="Infinity" id="catConcesionario"
															ng-options="concesionaria.nbConsecion  for concesionaria in catalogoProcesos.concesionariaVO track by concesionaria.idConsecion"
															ng-model="orden.vehiculoVO.concesionaria"
															style="width:100%" >
															<option value="">Seleccione</option>
														</select>
													</div>
											</div>
											
											
											
										</div>
									</fieldset>
								</div>
							</div>
						
<!-- 							TERMINA SEGUNDO ROW -->

<!-- 							INICIA TERCER ROW -->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="">*Orden de Servicio:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
											</div>
											<input type="text" class="form-control inputs" 
											ng-model="orden.cdOrden" placeholder="" maxlength="15">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>*Centro de Instalación</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-cubes" aria-hidden="true"></i>
											</div>
											<select class="form-control inputs"
											ng-options="cntInstalacion.idCentroInstalacion as cntInstalacion.nbCentroInstalacion for cntInstalacion in catalogoProcesos.centrosInstalacion"
											ng-model="orden.centroI">
											<option value="">Seleccione</option>
											</select>
											
										</div>
									</div>
								</div>


							</div>
<!-- 							TERMINA TERCER ROW -->
<!-- 								{{range}} -->

<!-- 								{{range}} -->
								{{ordenVO}}
<!-- 							INICIA CUARTO ROW -->
						
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>*Tipo de Kit: </label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-cubes" aria-hidden="true"></i>
											</div>
										<select class="form-control inputs"
											ng-options="tpKit.idTipoKit as tpKit.nbTipoKit for tpKit in catalogoProcesos.tipoKit"
											ng-change="buscarTipoKit(orden.tpKit)"
											ng-model="orden.tpKit">
										<option value="">Seleccione</option>
										</select>
										</div>
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="form-group">
										<label for="">*Serie de Kit:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
											</div>
											<input type="text" class="form-control inputs" ng-model="orden.cdKitIntalacion" placeholder="">
										</div>
									</div>
								</div>
								
							</div>
<!-- 							TERMINA CUARTO ROW -->
<!-- 							{{range}} -->
<!-- 							ng-options="proveed.idProveedor as proveed.nbProveedor for proveed in catalogoProcesos.proveedorVO" -->
<!-- 							INICIA QUINTO ROW -->
<!-- <div class="row" ng-repeat="rango in range track by rango.idDispositivo">  original -->
						<fieldset class="scheduler-border" ng-show="filKit">
							<legend class="scheduler-border text-center">Datos del kit</legend>
							<div class="row" ng-repeat="rango in range track by $index">
								<div class="col-md-4">
									<div class="form-group">
										<label form="">Nombre Disp:</label>
											<div class="input-group">
												<div class="input-group-addon">
														<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
														
												</div>
<!-- 												<input maxlength="10" type="text" id="iddisp" class="form-control" -->
												
<!--                                             	name="placaOficial" ng-model="rango.idDispositivo" -->
<!--                                             	autocomplete="off" ng-required="true" ng-disabled="false" style="display:none;"> -->
												
												<input maxlength="10" type="text" id="nbDispositivo" class="form-control"
                                            	name="placaOficial" ng-model="rango.nbDispositivo"
                                            	autocomplete="off" ng-required="true" ng-disabled="true">
											</div>
									</div>
								</div>
								
								<div class="col-md-4" >
												<div class="form-group">
												<label form="">Serie Disp:</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
														
													</div>
													<input maxlength="10" type="text" id="cdSerie" class="form-control"
                                            				name="placaOficial" ng-model="rango.serie"
                                            				autocomplete="off" ng-required="true" ng-disabled="banderadeshabilitar">
												</div>
												</div>
								</div>
								<div class="col-md-4">
								<div class="form-group">
									<label>*Proveedor: </label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-cubes" aria-hidden="true"></i>
										</div>
										<select class="form-control inputs"
											ng-options="proveed.idProveedor as proveed.nbProveedor for proveed in catalogoProcesos.proveedorVO"
											ng-model="rango.proveedor">
										<option value="">Seleccione</option>
										</select>
									</div>
								</div>
							</div>						
							</div>
							</fieldset>
<!-- 							TERMINA QUINTO ROW -->
<!-- 							INICIA SEXTO ROW -->

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>*Plan: </label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-cubes" aria-hidden="true"></i>
											</div>
											<select class="form-control inputs"
											ng-options="plan.idPlan as plan.nbPlan for plan in catalogoProcesos.plan"
											ng-model="orden.plan">
											<option value="">Seleccione</option>
											</select>
											
										</div>
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="form-group">
										<label>
											{{'ADMINISTRACION.ComplementosWeb.fechas.calendarioTiempo.label' | translate}}
										</label>
										<div class="input-group" datetime-picker
											idioma-dtp="{{currentLanguage}}"
											options="dateTimePickerOptions"
											ng-model="orden.fhCita">
											
											<div class="input-group-addon labelCheck">
												<i class="fa fa-calendar-plus-o"></i>
											</div>
											<input class="form-control inputFecha" readonly />
										</div>
									</div>
								</div>
							
							</div>
<!-- 							TERMINA SEXTO ROW -->
								
							
<!-- 							{{ordenVO}} -->
<!-- 							{{catalogoProcesos}} -->

							
							
							<div class="centerCol">
							    <span class="input-group-btn">
						              <button type="button" ng-click="guardarOrden(range, orden)" class="btn btn-danger btn-flat" >
						                      		Guardar
						              </button>
					           </span>
					       </div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>