<head>
	<meta charset="UTF-8">
</head>
<body>
	<section class="content-header">
		<h1>{{breadCrumbs.servicio}}</h1>
		<ol class="breadcrumb">
			<li>
				<a>
					<i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
				</a>
			</li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	
	<section class="content">
		<form role="form" name="formConsultaServicio" novalidate>
			<div class="row">
				<div class="col-xs-12 col-md-offset-3 col-md-6">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title"> Búsqueda </h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': formConsultaServicio.tipoBusqueda.$invalid && formConsultaServicio.tipoBusqueda.$dirty}">
										<label for=""> *{{'ORDENSERVICIO.AltaServicio.seleccionadores.tipoBusqueda.label' | translate}} </label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list-ul"></i>
											</div>
											<select class="form-control" name="tipoBusqueda" id="tipoBusqueda" ng-required="true" 
												select2 data-minimum-results-for-search="Infinity" idioma-s2="{{currentLanguage}}"
												ng-model="parametroBusqueda.tipoBusqueda" ng-options="tipo as tipo.nbTipoBusqueda for tipo in listTipoBusqueda">
												<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
											</select>
										</div>
										<div ng-show="formConsultaServicio.tipoBusqueda.$invalid && formConsultaServicio.tipoBusqueda.$dirty" ng-style="{color:'red'}">
                                               <label> {{'ORDENSERVICIO.AltaServicio.seleccionadores.tipoBusqueda.validacion' | translate}} </label>
                                       	</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': formConsultaServicio.valorBusqueda.$invalid && formConsultaServicio.valorBusqueda.$dirty}">
										<label for=""> *{{'ORDENSERVICIO.AltaServicio.seleccionadores.valor.label' | translate}} </label>
										<div class="input-group">
					                      	<span class="input-group-addon"> <i class="fa fa-pencil"> </i> </span>
					                      	<input type="text" ng-model="parametroBusqueda.valor" name="valorBusqueda" ng-required="true" 
					                      		class="form-control" capitalize></input> 
					                        <span class="input-group-btn">
						                      	<button type="button" ng-click="buscarOrdenServicio()" class="btn btn-danger btn-flat" >
						                      		Buscar
						                      	</button>
					                      	</span>
					                    </div>
										<div ng-show="formConsultaServicio.valorBusqueda.$invalid && formConsultaServicio.valorBusqueda.$dirty" ng-style="{color:'red'}">
                                               <label> {{'ORDENSERVICIO.AltaServicio.seleccionadores.valor.validacion' | translate}} </label>
                                       	</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-xs-12 col-md-offset-1 col-md-10">
				<div class="box box-danger">
					<div class="box-header with-border">
						<div class="col-sm-6">
	                		<h3 class="box-title">Registros Encontrados:  {{(listServicio | filter:tabla.view.filterSearchVal).length}}</h3>
	              		</div>
		              	<div class="col-sm-6 form-group">
		                	<div class="row">
		                  		<div class="col-md-offset-6">
		                        	<div class="input-group pull-right">
		                          		<input type="text" class="form-control" placeholder="Buscar por filtro" ng-model="tabla.view.filterSearchVal">
		                      			<div class="input-group-addon"><i class="fa fa-search"></i></div>
		                      		</div>
		                    	</div>
		                  	</div>  
		              	</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="box-body table-responsive">
	            				<table id="tabla_listServicio" class="table table-hover header-fixed">
	              					<thead>
						                <tr>
						                  	<th sort order="'estatus'" by="tabla.order" reverse="tabla.reverse" class="text-center">ESTATUS</th>
						                  	<th sort order="'placa'" by="tabla.order" reverse="tabla.reverse" class="text-center">PLACA</th>
						                  	<th sort order="'folio'" by="tabla.order" reverse="tabla.reverse" class="text-center">FOLIO</th>
						                  	<th sort order="'fhInicio'" by="tabla.order" reverse="tabla.reverse" class="text-center">FECHA INICIO</th>
						                  	<th sort order="'etapa'" by="tabla.order" reverse="tabla.reverse" class="text-center">ETAPA</th>
						                </tr>
					              	</thead>
					              	<tbody>
	                					<tr dir-paginate="servicio in listServicio | orderBy:tabla.order:tabla.reverse | filter:tabla.view.filterSearchVal | itemsPerPage:tabla.view.rowsPerPageVal">
	
						                  	<td class="center"><a href="#/consultaInfraccion/{{infraccion.infraccionNumero}}/{{infraccion.placa}}/{{parametroBusqueda.tipoFiltro.codigoString}}/{{parametroBusqueda.valor}}">{{infraccion.infraccionNumero}}</a></td>
						                  	<td class="center">
						                  		<span ng-show="servicio.documentoFolio == servicio.placaCorrecta">{{servicio.placa}}</span>
												<span ng-show="servicio.documentoFolio != servicio.placaCorrecta" class="label" style="background-color: #33E0FF" 
												data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="Placa correcta: {{servicio.placaCorrecta}}">{{servicio.placa}}
												</span>
						                  	</td>
						                  	<td class="center">{{servicio.fecha | date:'dd/MM/yyyy'}}</td>
						                  	<td class="center">{{servicio.ubicacion}}</td>
						                  	<td class="center">{{servicio.articulo}}</td>
						                  	<td class="center">{{servicio.sancion}}</td>
						                  	<td class="center">{{servicio.pagada}}</td>
						                  	<td class="center" ng-show="!validaExpediente">
						                  		<a href="#/consultaExpediente/{{servicio.infraccionNumero}}/{{infraccion.placa}}/false/{{parametroBusqueda.tipoFiltro.codigoString}}/{{parametroBusqueda.valor}}" class="fa fa-folder-o fa-2x" data-toggle="tooltip" data-placement="left" title="Ver Expediente"></a>
						                  	</td>                   
					                	</tr>
					           		</tbody>
						       	</table>
		            			<div class="container-fluid">
		                          	<div class="fixed-table-pagination">
		                              	<rows-per-page rows="tabla.view.rowsPerPageVal" filtro="tabla.view.filterSearchVal" array="listServicio"></rows-per-page>
		                              	<dir-pagination-controls class="pull-right pagination-detail"></dir-pagination-controls>
		                          	</div>
		                      	</div>
	          				</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>