<head>
    <meta charset="UTF-8">
</head>
<section class="content-header">
    <h1>{{breadCrumbs.servicio}}</h1>
    <ol class="breadcrumb">
        <li>
            <a>
                <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
            </a>
        </li>
        <li class="active">{{breadCrumbs.servicio}}</li>
    </ol>
</section>

<section class="content">
    <boton-incidencia id-orden="" id-proceso="" id-encuesta="" id-pregunta="" url-actual="'-consulta'"></boton-incidencia>
	<form role="form" name="formConsultaServicio" novalidate>
        <div class="row">
            <div class="col-xs-12 col-md-offset-3 col-md-6">
                <div class="box box-danger">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title"> Búsqueda </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error': formConsultaServicio.tipoBusqueda.$invalid && formConsultaServicio.tipoBusqueda.$dirty}">
                                    <label for=""> *{{'ORDENSERVICIO.AltaServicio.seleccionadores.tipoBusqueda.label' | translate}} </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-list-ul"></i>
                                        </div>
                                        <select class="form-control" name="tipoBusqueda" id="tipoBusqueda" ng-required="true" select2 data-minimum-results-for-search="Infinity" idioma-s2="{{currentLanguage}}" 
                                        	ng-model="parametroBusqueda.tipoBusqueda" ng-options="tipo as tipo.nbTipoBusqueda for tipo in listTipoBusqueda" ng-change="validarSelect()">
												<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
											</select>
                                    </div>
                                    <div ng-show="formConsultaServicio.tipoBusqueda.$invalid && formConsultaServicio.tipoBusqueda.$dirty" ng-style="{color:'red'}">
                                        <label> {{'ORDENSERVICIO.AltaServicio.seleccionadores.tipoBusqueda.validacion' | translate}} </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error': formConsultaServicio.valorBusqueda.$invalid && formConsultaServicio.valorBusqueda.$dirty}">
                                    <label for=""> *{{'ORDENSERVICIO.AltaServicio.seleccionadores.valor.label' | translate}} </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"> <i class="fa fa-pencil"> </i> </span>
                                        <input type="text" ng-model="parametroBusqueda.valor" name="valorBusqueda" class="form-control" capitalize
                                        	ng-required="parametroBusqueda.tipoBusqueda.idTipoBusqueda != 0" ng-disabled="parametroBusqueda.tipoBusqueda.idTipoBusqueda == 0" ></input>
                                        <span class="input-group-btn">
						                      	<button type="button" ng-click="buscarOrdenServicio(true)" class="btn btn-danger btn-flat" >
						                      		Buscar
						                      	</button>
					                      	</span>
                                    </div>
                                    <div ng-show="formConsultaServicio.valorBusqueda.$invalid && formConsultaServicio.valorBusqueda.$dirty" ng-style="{color:'red'}">
                                        <label> {{'ORDENSERVICIO.AltaServicio.seleccionadores.valor.validacion' | translate}} </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row" ng-show="listServicio.length > 0">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <div class="col-sm-6">
                        <h3 class="box-title">Registros Encontrados: {{(listServicio | filter:tabla.view.filterSearchVal).length}}</h3>
                    </div>
                    <div class="col-sm-6 form-group">
						<div class="row">
							<div class="col-md-offset-5 col-md-6 col-xs-8">
								<div class="input-group pull-right">
									<input type="text" class="form-control" placeholder="Buscar por filtro" ng-model="tabla.view.filterSearchVal">
									<div class="input-group-addon">
										<i class="fa fa-search"></i>
									</div>
								</div>
							</div>
							<div class="col-md-1">
								<a ng-click="descargarExcel()"> 
									<span class="pull-right"> <img src="static/dist/img/excel.png"> </span>
								</a>
							</div>
						</div>
					</div>
                </div>
                <div class="box-body table-responsive">
	                <table id="tabla_listServicio" class="table table-striped table-hover table-xs table-sm" style="overflow: auto; border-collapse: collapse; width: 100%;">
	                    <thead>
	                        <tr>
	                            <th sort order="'estatus'" by="tabla.order" reverse="tabla.reverse" class="text-center"></th>
	                            <th sort order="'folio'" by="tabla.order" reverse="tabla.reverse" class="text-center">ORDEN DE SERVICIO</th>
	                            <th sort order="'placa'" by="tabla.order" reverse="tabla.reverse" class="text-center">PLACA</th>
	                            <th sort order="'vin'" by="tabla.order" reverse="tabla.reverse" class="text-center">VIN</th>
	                            <th sort order="'centroInstalacion'" by="tabla.order" reverse="tabla.reverse" class="text-center">CENTRO DE INSTALACIÓN</th>
	                            <th sort order="'fhCita'" by="tabla.order" reverse="tabla.reverse" class="text-center">FECHA CITA</th>
	                            <th sort order="'planInstalacion'" by="tabla.order" reverse="tabla.reverse" class="text-center">PLAN DE INSTALACIÓN</th>
	                            <th sort order="'procesoActual'" by="tabla.order" reverse="tabla.reverse" class="text-center">PROCESO ACTUAL</th>
	<!--                                         <th class="center" style="width: 13%">ACCIÓN</th> -->
	                        </tr>
	                    </thead>
	                    <tbody align="center">
	                        <tr ng-click="direccionar(servicio.idOrdenServicio)" style="cursor: pointer;"  
	                        	dir-paginate="servicio in listServicio | orderBy:tabla.order:tabla.reverse | filter:tabla.view.filterSearchVal | itemsPerPage:tabla.view.rowsPerPageVal">
	                            <td class="center" style="width: 2%">
	                              	<span class="etiquetaCancelado" style="background-color: {{servicio.stSeguimiento.cdColor}}; min-height: 30px; height: 100%;" 
	                               		data-toggle="tooltip" data-placement="left" title="{{servicio.stSeguimiento.nbStSeguimiento}}">
	</span>
	                           	</td>
	                             <td style="width: 12%">
	<!--                                             <span ng-click="verIntentos($index)" class="etiquetaCancelado col-md-6 fullWidth" style="cursor: pointer; background-color: #868686;" tooltip="Realizar servicio" tooltip-placement="top"> -->
	                       	 {{servicio.cdOrdenServicio}} </a>
	<!-- 		                                	</span> -->
	                            </td>
	                            <td style="width: 10%">
	                                 <span>{{servicio.vehiculo.cdPlacaVehiculo}}</span> </a>
	                            </td>
	                            <td style="width: 12%">
	                                 <span>{{servicio.vehiculo.cdVin}}</span> </a>
	                            </td>
	                            <td style="width: 16">
	                                 <span>{{servicio.centroInstalacion.nbCentroInstalacion}}</span> </a>
	                            </td>
	                            <td style="width: 16%">
	                                 <span>{{servicio.fhCita}}</span> </a>
	                            </td>
	                            <td style="width: 16%">
	                                 <span>{{servicio.plan.nbPlan}}</span> </a>
	                            </td>
	                            <td style="width: 16%"> {{servicio.proceso.nbProceso==null?"SIN PROCESO":servicio.proceso.nbProceso}}</a></td>
	<!--                                         <td style="width: 13%"> -->
	<!--                                             <a ng-click="mostrarModal(servicio)"><i class="fa fa-pencil fa-lg"></i> </a></td> -->
	                        </tr>
	                    </tbody>
	                </table>
	                <div class="container-fluid">
	                    <div class="fixed-table-pagination">
	                        <rows-per-page rows="tabla.view.rowsPerPageVal" filtro="tabla.view.filterSearchVal" array="listServicio"></rows-per-page>
	                        <dir-pagination-controls class="pull-right pagination-detail"></dir-pagination-controls>
	                    </div>
	                </div>
                </div>
            </div>
        </div>
    </div>
</section>