<head>
	<meta charset="utf-8">
</head>

<body>
	<header class="content-header">
		<h1>Orden Servicio</h1>
		<ol class="breadcrumb">
			<li><a><i class="fa fa-check-square-o"></i>Detalle</a>
			</li>
			<li class="active">Orden de Servicio</li>
		</ol>

		<style type="text/css">
			.nivelActivo{
		    	color: #fff !important;
				background-color: #428bca !important;
				border-color: #428bca !important;
			}
			
			@media screen and (max-width: 800px) {
  				.separador1 {
    				display: none;
  				}
			}
			
 			@media screen and (min-width: 800px) {
   				.separador2 {
     				display: none;
   				}
 			}
		</style>
	</header>

	<form role="form" name="formDetalleServicio" novalidate>
		<section class="content">
			<div class="row">
				<div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-12">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">
								Detalle Orden de Servicio
							</h3>
						</div>
						<div class="box-body">
							<div class="row" id="div1">
								<div class="col-lg-4 col-md-6 col-sm-6">
									<div class="form-group">
										<label for="tipoTramite">Orden Servicio:</label>
										<div class="input-group">
<!-- 											<div class="input-group-addon"> -->
<!-- 												<i class="fa fa-list-alt"></i> -->
<!-- 											</div> -->
											<p>{{ordenInfo.cdOrdenServicio}}</p>
										</div>
									</div>
								</div>

	                            <div class="col-lg-3 col-md-6 col-sm-6">
									<div class="form-group">
										<label for="tipoTramite">Centro de Instalación:</label>
										<div class="input-group">
<!-- 											<div class="input-group-addon"> -->
<!-- 												<i class="fa fa-list-alt"></i> -->
<!-- 											</div> -->
											<p">{{ordenInfo.centroInstalacion.nbCentroInstalacion}}</p>
										</div>
									</div>
								</div>

	                            <div class="col-lg-3 col-md-6 col-sm-6">
									<div class="form-group">
										<label for="tipoTramite">Fecha Cita:</label>
										<div class="input-group">
<!-- 											<div class="input-group-addon"> -->
<!-- 												<i class="fa fa-list-alt"></i> -->
<!-- 											</div> -->
											<p>{{ordenInfo.fhCita}}</p>
										</div>
									</div>
								</div>

								<div class="col-lg-2 col-md-6 col-sm-6">
									<div class="form-group">
										<label for="tipoTramite">Origen:</label>
										<div class="input-group">
<!-- 											<div class="input-group-addon"> -->
<!-- 												<i class="fa fa-list-alt"></i> -->
<!-- 											</div> -->
											<p>{{ordenInfo.cdOrigenOds}}</p>
										</div>
									</div>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12">
									<hr style="margin-top: 1.429rem;margin-bottom: 1.429rem;border: 0;border-top-color: currentcolor;border-top-style: none;border-top-width: 0px;border-top: 1px solid #eeeeee;">
								</div>

							</div>
							<div class="row" id="div2">
	                            <div class="col-lg-2 col-md-4 col-sm-4">
									<div class="form-group">
										<a webuipopover data-placement="right" data-trigger="click"
											selector-content="estatus" data-toggle="popover">
											<label for="tipoTramite">Estatus:</label>
										 </a>
										<div class="input-group">
											<p>{{ordenInfo.stSeguimiento.nbStSeguimiento}}</p>
										</div>
										<div id="estatus" class="webuipopover-content">
											<div class="center">
												<sapn style="font-size: 1.2em;">
													Actual:
												</sapn>
											</div>
											<div style="border-bottom: 1px solid #cf0a2c; margin-bottom: 1%;"> </div>
											<div  ng-show="ordenInfo.proceso!=null && ordenInfo.encuesta!=null">
												<span>Proceso: {{ordenInfo.proceso.nbProceso}}</span></br>
												<span>Encuesta: {{ordenInfo.encuesta.nbEncuesta}}</span>
											</div>
											<div  ng-show="ordenInfo.proceso==null || ordenInfo.encuesta==null">
												<span>No ha iniciado la operación</span></br>
											</div>
										</div>
									</div>
								</div>

	                            <div class="col-lg-2 col-md-4 col-sm-4">
									<div class="form-group">
										<label for="tipoTramite">Fecha Inicio:</label>
										<div class="input-group">
											<p>{{ordenInfo.fhAtencionIni}}</p>
										</div>
									</div>
								</div>

								<div class="col-lg-2 col-md-4 col-sm-4">
									<div class="form-group">
										<label for="tipoTramite">Fecha Conclución:</label>
										<div class="input-group">
											<p>{{ordenInfo.fhAtencionFin}}</p>

										</div>
									</div>
								</div>

	                            <div class="col-lg-2 col-md-4 col-sm-4">
									<div class="form-group">
										<label for="tipoTramite">Duración:</label>
										<div class="input-group">
											<p>{{ordenInfo.tpDuracion}}</p>
										</div>
									</div>
								</div>

								<div class="col-lg-2 col-md-4 col-sm-4">
									<div class="form-group">
										<label for="tipoTramite">Plan:</label>
										<div class="input-group">
											<p>{{ordenInfo.plan.nbPlan}}</p>
										</div>
									</div>
								</div>

								<div class="col-lg-2 col-md-4 col-sm-4">
									<button ng-click="confirmaImagenesReporte()" class="btn btn-danger">
										<span class="fa fa-file-pdf-o"></span>&nbsp Descargar
						            </button>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12"></div>

	                            <div class="col-lg-4 col-md-4 col-sm-4">
									<div class="form-group">
										<a webuipopover data-placement="right" data-trigger="click"
                                                selector-content="supervision" data-toggle="popover">
											<label for="tipoTramite">Supervisor:</label>
										  </a>
										<div class="input-group" ng-if="supervisores.length>1">
											<p>{{supervisor}}<p>
										</div>
									  	<div class="input-group" ng-if="supervisores.length<1">
											<p>{{sinSupervisor}}</p>
										</div>
										<div id="supervision" class="webuipopover-content">
											<div class="center">
												<sapn style="font-size: 1.2em;">
													Supervisores Involucrados:
												</sapn>
											</div>
											<div style="border-bottom: 1px solid #cf0a2c; margin-bottom: 1%;"> </div>
											<div class="webuipopover-content-scroll">
												<ul style="padding-left: 20px;">
													<li ng-repeat="item in supervisores">
														{{item.name}}
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

	                            <div class="col-lg-4 col-md-4 col-sm-4">
									<div class="form-group">
										<a webuipopover data-placement="right" data-trigger="click"
	                                                selector-content="consultados" data-toggle="popover">
											<label for="tipoTramite">Transportista:</label>
										</a>
										<div class="input-group"  ng-if="transportistas.length>=1">
											<p>{{transportista}}</p>
										</div>
										<div class="input-group"  ng-if="transportistas.length<1">
											<p>{{sintransportista}}</p>
										</div>
										<div id="consultados" class="webuipopover-content">
											<div class="center">
												<span style="font-size: 1.2em;">
													Transportistas:
												</span>
											</div>
											<div style="border-bottom: 1px solid #cf0a2c; margin-bottom: 1%;"> </div>
											<div class="webuipopover-content-scroll">
												<ul style="padding-left: 20px;">
													<li ng-repeat="item in transportistas">
														{{item.nbConductor}} {{item.nbApepatConductor}} {{item.nbApematConductor}}
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-offset-2 col-lg-2 col-md-4 col-sm-4">
									<button ng-click="mostrarModalEtapas()" class="btn btn-danger">
										<span class="fa fa-list"></span>&nbsp Ver Etapas
						            </button>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12">
									<hr style="margin-top: 1.429rem;margin-bottom: 1.429rem;border: 0;border-top-color: currentcolor;border-top-style: none;border-top-width: 0px;border-top: 1px solid #eeeeee;">
								</div>

							</div>

							<div class="row" id="div3">
								<div class="col-md-12" style="padding-left: 26px; padding-right: 26px;">
									<div class="row">
										<div class="col-md-12 box collapsed-box"
											style="border: 1px solid; border-radius: 5px 5px 5px 5px;">
											<div class="box-header">
												<span class="fa fa-car"></span>
												<h4 class="box-title"> Vehículo</h4>
												<div class="box-tools pull-right">
													<button type="button" class="btn btn-box-tool"
														data-widget="collapse">
														<i class="fa fa-plus"></i>
													</button>
												</div>
											</div>
											<div class="box-body">
												<div class="row">
													<div class="col-md-3 col-sm-4">
														<div class="form-group">
															<label for="tipoTramite">PLaca:</label>
															<div class="input-group">
																<p>{{ordenInfo.vehiculo.cdPlacaVehiculo}}</p>
															</div>
														</div>
													</div>

													<div class="col-md-3 col-sm-4">
														<div class="form-group">
															<label for="tipoTramite">VIN:</label>
															<div class="input-group">
																<p>{{ordenInfo.vehiculo.cdVin}}</p>
															</div>
														</div>
													</div>

													<div class="col-md-3 col-sm-4">
														<div class="form-group">
															<label for="tipoTramite">Tarjeta Circulacion:</label>
															<div class="input-group">
																<p>{{ordenInfo.vehiculo.cdTarjetaDeCirculacion}}</p>
															</div>
														</div>
													</div>

													<div class="col-md-3 col-sm-4">
														<div class="form-group">
															<label for="tipoTramite">Tipo:</label>
															<div class="input-group">
																<p>{{ordenInfo.vehiculo.tipoVehiculo.nbTipoVehiculo}}</p>
															</div>
														</div>
													</div>

													<div class="col-md-3 col-sm-4">
														<div class="form-group">
															<label for="tipoTramite">Marca:</label>
															<div class="input-group">
																<p>{{ordenInfo.vehiculo.nbMarca}}</p>
															</div>
														</div>
													</div>

													<div class="col-md-3 col-sm-4">
														<div class="form-group">
															<label for="tipoTramite">Sub-Marca:</label>
															<div class="input-group">
																<p>{{ordenInfo.vehiculo.nbSubMarca}}</p>
															</div>
														</div>
													</div>

													<div class="col-md-3 col-sm-4">
														<div class="form-group">
															<label for="tipoTramite">Modelo:</label>
															<div class="input-group">
																<p>{{ordenInfo.vehiculo.cdModelo}}</p>
															</div>
														</div>
													</div>

													<div class="col-md-3 col-sm-4">
														<div class="form-group">
															<label for="tipoTramite">Concesionario:</label>
															<div class="input-group">
																<p>{{ordenInfo.vehiculo.consecionario.nbConsecion}}</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12"></div>
							</div>
							
							<div class="row" id="div4">
								<div class="col-lg-12 col-md-12 col-sm-12" style="padding-left: 26px; padding-right: 26px;">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 box collapsed-box"
											style="border: 1px solid; border-radius: 5px 5px 5px 5px;">
											<div class="box-header">
												<span class="fa fa-camera"></span>
												<h4 class="box-title"> Evidencia</h4>
												<div class="box-tools pull-right">
													<button type="button" class="btn btn-box-tool"
														data-widget="collapse">
														<i class="fa fa-plus"></i>
													</button>
												</div>
											</div>
											<div class="box-body">
												<div class="row">
													<div class="col-lg-3 col-md-3 col-sm-4">
														<div class="form-group">
															<label for="tipoTramite">Nombre:</label>
															<div class="input-group">
																<p>{{evidenciaMostrar.nombre}}</p>
															</div>
														</div>
													</div>
													<div class="col-md-3 col-sm-4">
														<div class="form-group">
															<label for="tipoTramite">Fecha Inicio:</label>
															<div class="input-group">
																<p>{{evidenciaMostrar.fhIni}}</p>
															</div>
														</div>
													</div>
													<div class="col-md-3 col-sm-4">
														<div class="form-group">
															<label for="tipoTramite">Fecha Fin:</label>
															<div class="input-group">
																<p>{{evidenciaMostrar.fhFin}}</p>
															</div>
														</div>
													</div>
													
													<div class="col-md-12 col-sm-12 separador2"></div>
													
													<div class="col-md-3 col-sm-4">
														<div class="form-group">
															<label for="tipoTramite">Duración:</label>
															<div class="input-group">
																<p>{{evidenciaMostrar.duracion}}</p>
															</div>
														</div>
													</div>
													
													<div class="col-md-12 col-sm-12 separador1"></div>

													<div class="col-md-3 col-sm-4">
														<div class="form-group">
															<a webuipopover data-placement="right" data-trigger="click"
																	selector-content="supeEv" data-toggle="popover">
																<label>Supervisor:</label>
															  </a>
															<div class="input-group" ng-if="evidenciaMostrar.supervisores>1">
																{{evidenciaMostrar.supervisor}}
															</div>
															<div class="input-group" ng-if="evidenciaMostrar.supervisores<1">
																<p>Sin Supervisor</p>
															</div>
															<div id="supeEv" class="webuipopover-content">
																<div class="center">
																	<sapn style="font-size: 1.2em;">
																		Supervisores Involucrados:
																	</sapn>
																</div>
																<div style="border-bottom: 1px solid #cf0a2c; margin-bottom: 1%;"> </div>
																<div class="webuipopover-content-scroll">
																	<ul style="padding-left: 20px;">
																		<li ng-repeat="item in evidenciaMostrar.supervisores">
																			{{item.name}}
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>

													<div class="col-md-3 col-sm-4">
														<div class="form-group">
															<a webuipopover data-placement="right" data-trigger="click"
																	selector-content="instEv" data-toggle="popover">
																<label>Instalador:</label>
															  </a>
															<div class="input-group" ng-if="evidenciaMostrar.instaladores>1">
																{{evidenciaMostrar.instalador}}
															</div>
															<div class="input-group" ng-if="evidenciaMostrar.instaladores<1">
																<p>Sin Instalador</p>
															</div>
															<div id="instEv" class="webuipopover-content">
																<div class="center">
																	<sapn style="font-size: 1.2em;">
																		Instalador Involucrados:
																	</sapn>
																</div>
																<div style="border-bottom: 1px solid #cf0a2c; margin-bottom: 1%;"> </div>
																<div class="webuipopover-content-scroll">
																	<ul style="padding-left: 20px;">
																		<li ng-repeat="item in evidenciaMostrar.instaladores">
																			{{item.name}}
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>

													<div class="col-md-3 col-sm-6">
														<div class="form-group">
															<a webuipopover data-placement="right" data-trigger="click"
																	selector-content="transEv" data-toggle="popover">
																<label>Trasportista:</label>
															  </a>
															<div class="input-group" ng-if="evidenciaMostrar.transportistas>1">
																{{evidenciaMostrar.transportista}}
															</div>
															<div class="input-group" ng-if="evidenciaMostrar.transportistas<1">
																<p>Sin Trasportista</p>
															</div>
															<div id="transEv" class="webuipopover-content">
																<div class="center">
																	<sapn style="font-size: 1.2em;">
																		Trasportistas Involucrados:
																	</sapn>
																</div>
																<div style="border-bottom: 1px solid #cf0a2c; margin-bottom: 1%;"> </div>
																<div class="webuipopover-content-scroll">
																	<ul style="padding-left: 20px;">
																		<li ng-repeat="item in evidenciaMostrar.transportistas">
																			{{item.name}}
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													
													<div class="col-md-3 col-sm-4" ng-if="evidenciaMostrar.respuesta!=null">
														<div class="form-group">
															<label for="tipoTramite">Respuesta:</label>
															<div class="input-group">
																<p>{{evidenciaMostrar.respuesta}}</p>
															</div>
														</div>
													</div>

													<div class="col-md-12 col-sm-12 well" style="border: 1px solid; border-radius: 5px 5px 5px 5px;">
														<div class="row">

															<div class="col-md-4 col-sm-12 container" style="height: 350px; overflow-y: scroll;">
																 <div class="list-group">
																 	<a class="list-group-item list-group-item-danger"
																 		ng-class="{'nivelActivo' : evidencia.infoEvidencia.activo}"
																 		ng-click="mostrarInfoEvidencia('Orden de Servicio', evidencia)">

																 		<p class="list-group-item-text">
																 			Orden de Servicio &nbsp &nbsp &nbsp<span class="fa fa-camera" ng-if="evidencia.infoEvidencia.imagenes != undefined && evidencia.infoEvidencia.imagenes.length > 0"></span></p>
																 	</a>
																 	<div ng-repeat="proc in evidencia.procesos">
																	 	<a class="list-group-item list-group-item-warning" style="text-indent: 10px;"
																	 		ng-class="{'nivelActivo': proc.infoEvidencia.activo}"
 																			ng-click="mostrarInfoEvidencia(proc.name, proc)"
 																			data-toggle="collapse" data-target="#{{'EV_' + proc.cdNivel + '_' + proc.idProceso}}">
																	 		<p class="list-group-item-text">
																	 			{{proc.name}} &nbsp &nbsp &nbsp<span class="fa fa-camera" ng-if="proc.infoEvidencia.imagenes != undefined && proc.infoEvidencia.imagenes.length > 0"></span></p>
																	 	</a>
																	 	
																	 	<div id="{{'EV_' + proc.cdNivel + '_' + proc.idProceso}}" class="collapse" style="padding: 0%;">
																		 	<div ng-repeat="enc in proc.listEncuestas">
																			 	<a class="list-group-item list-group-item-success" style="text-indent: 20px;"
																			 		ng-class="{'nivelActivo': enc.infoEvidencia.activo}"
																					ng-click="mostrarInfoEvidencia(enc.name, enc)"
																					data-toggle="collapse" data-target="#{{'EV_' + proc.idProceso + '_' + enc.cdNivel + '_' + enc.idProceso}}">
																			 		<p class="list-group-item-text">
																			 			{{enc.name}} &nbsp &nbsp &nbsp<span class="fa fa-camera" ng-if="enc.infoEvidencia.imagenes != undefined && enc.infoEvidencia.imagenes.length > 0"></span></p>
																			 	</a>
																			 	
																			 	<div id="{{'EV_' + proc.idProceso + '_' + enc.cdNivel + '_' + enc.idProceso}}" class="collapse" style="padding: 0%;">
																				 	<div ng-repeat="preg in enc.listPreguntas">
																				 		<a class="list-group-item" style="text-indent: 30px;"
																				 			ng-class="{'nivelActivo': preg.infoEvidencia.activo}"
																				 			ng-click="mostrarInfoEvidencia(preg.name, preg)">
																				 			<p class="list-group-item-text">
																				 				{{preg.name}} &nbsp &nbsp &nbsp<span class="fa fa-camera" ng-if="preg.infoEvidencia.imagenes != undefined && preg.infoEvidencia.imagenes.length > 0"></span></p>
																				 		</a>
																		 			</div>
																		 		</div>
																	 		</div>
																	 	</div>
																 	</div>
																 </div>
															</div>
															<div class="col-md-8 col-sm-12 container">
																<div class="box box-danger">
																	<div uib-carousel active="0">
																		<div uib-slide index="0" ng-if="evidenciaMostrar.listImg == undefined || evidenciaMostrar.listImg.length == 0 ">
																			<div class="box-title">
<!-- 																				<h4 class="box-title">{{img.nombre}}</h4> -->
																			</div>
																			<div class="box-body">
																				<figure class="figure">
																					<img src="static/dist/img/sin_imagen.jpg"
																						style="height: 330px; class="img-responsive center-block figure-img img-fluid img-rounded">
																				</figure>
																			</div>
																		</div>
																		<div uib-slide ng-repeat="img in evidenciaMostrar.listImg" index="$index">
																			<div class="box-title">
<!-- 																				<h4 class="box-title">{{img.nombre}}</h4> -->
																			</div>
																			<div class="box-body">
																				<figure class="figure">
																					<img ng-src="data:image/img.cdTipoArchivo;base64,{{img.lbExpedienteODS}}"
																						style="height: 330px;" class="img-responsive center-block figure-img img-fluid img-rounded">
																				</figure>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
<!-- 							<div class="row" id="div5"> -->
<!-- 								<div class="col-lg-12 col-md-12 col-sm-12" style="padding-left: 26px; padding-right: 26px;"> -->
<!-- 									<div class="row"> -->
<!-- 										<div class="col-lg-12 col-md-12 col-sm-12 box collapsed-box" -->
<!-- 											style="border: 1px solid; border-radius: 5px 5px 5px 5px;"> -->
<!-- 											<div class="box-header"> -->
<!-- 												<span class="fa fa-list"></span> -->
<!-- 												<h4 class="box-title"> Etapas</h4> -->
<!-- 												<div class="box-tools pull-right"> -->
<!-- 													<button type="button" class="btn btn-box-tool" -->
<!-- 														data-widget="collapse"> -->
<!-- 														<i class="fa fa-plus"></i> -->
<!-- 													</button> -->
<!-- 												</div> -->
<!-- 											</div> -->
<!-- 											<div class="box-body"> -->
<!-- 												<div class="row"> -->
<!-- 													<div class="col-md-12 col-sm-12"> -->
<!-- 														<div class="row"> -->
<!-- 															<div class="col-md-12 col-sm-12 container" style="height: 200px; overflow-y: scroll;"> -->
<!-- 																 <div class="list-group"> -->
<!-- 																 	<a class="list-group-item list-group-item-danger"> -->
<!-- 																 		<h5 class="list-group-item-text"> -->
<!-- 																 			<strong>Orden de Servicio &nbsp &nbsp &nbsp</strong><span class="fa fa-camera" ng-if="evidencia.infoEvidencia.imagenes != undefined && evidencia.infoEvidencia.imagenes.length > 0"></span></h5> -->
<!-- 																 	</a> -->
<!-- 																 	<div ng-repeat="proc in evidencia.procesos"> -->
<!-- 																	 	<a class="list-group-item list-group-item-warning" style="text-indent: 10px;" -->
<!--  																			data-toggle="collapse" data-target="#{{'EN_' + proc.cdNivel + '_'+ proc.idProceso}}"> -->
<!-- 																	 		<p class="list-group-item-text"> -->
<!-- 																	 			{{proc.name}} &nbsp &nbsp &nbsp<span class="fa fa-camera" ng-if="proc.infoEvidencia.imagenes != undefined && proc.infoEvidencia.imagenes.length > 0"></span></p> -->
<!-- 																	 	</a> -->
																	 	
<!-- 																	 	<div id="{{'EN_' + proc.cdNivel + '_'+ proc.idProceso}}" class="collapse" style="padding: 0%;"> -->
<!-- 																		 	<div ng-repeat="enc in proc.listEncuestas"> -->
<!-- 																			 	<a class="list-group-item list-group-item-success" style="text-indent: 20px;" -->
<!-- 																			 		data-toggle="collapse" data-target="#{{'EN_' + proc.idProceso + '_'+ enc.cdNivel + '_' + enc.idEncuesta}}"> -->
<!-- 																			 		<p class="list-group-item-text"> -->
<!-- 																			 			{{enc.name}} &nbsp &nbsp &nbsp<span class="fa fa-camera" ng-if="enc.infoEvidencia.imagenes != undefined && enc.infoEvidencia.imagenes.length > 0"></span></p> -->
<!-- 																			 	</a> -->
																			 	
<!-- 																			 	<div id="{{'EN_' + proc.idProceso + '_'+ enc.cdNivel + '_' + enc.idEncuesta}}" class="collapse" style="padding: 0%;"> -->
<!-- 																				 	<div ng-repeat="preg in enc.listPreguntas"> -->
<!-- 																				 		<a class="list-group-item list-group-item-info" style="text-indent: 30px;"> -->
<!-- 																				 			<p class="list-group-item-text"> -->
<!-- 																				 				{{preg.name}} &nbsp &nbsp &nbsp<span class="fa fa-camera" ng-if="preg.infoEvidencia.imagenes != undefined && preg.infoEvidencia.imagenes.length > 0"></span></p> -->
<!-- 																				 		</a> -->
<!-- 																				 		<a class="list-group-item" style="text-indent: 40px;"> -->
<!-- 																			 				<p class="list-group-item-text"> -->
<!-- 																			 					<strong>Respuesta:</strong> {{preg.infoEvidencia.respuesta.respuesta}}</p> -->
<!-- 																			 			</a> -->
<!-- 																			 			<a class="list-group-item" style="text-indent: 40px;"> -->
<!-- 																			 				<p class="list-group-item-text"> -->
<!-- 																			 					<strong>Causa:</strong> {{preg.infoEvidencia.respuesta.causa}}</p> -->
<!-- 																			 			</a> -->
<!-- 																			 			<a class="list-group-item" style="text-indent: 40px;"> -->
<!-- 																			 				<p class="list-group-item-text"> -->
<!-- 																			 					<strong>Justificaciónn:</strong> {{preg.infoEvidencia.respuesta.justificacion}}</p> -->
<!-- 																			 			</a> -->
<!-- 																		 			</div> -->
<!-- 																		 		</div> -->
<!-- 																	 		</div> -->
<!-- 																 		</div> -->
<!-- 																 	</div> -->
<!-- 																 </div> -->
<!-- 															</div> -->
<!-- 														</div> -->
<!-- 													</div> -->
<!-- 												</div> -->
<!-- 											</div> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
							<div class="row" id="div5">
							  <div class="col-md-6">
                                    <div style="float: right;">
                                        <a class="btn btn-primary" href="#/consultaGeneral/true" role="button">Regresar</a>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
<!-- 	#### Modal de confirmación-->
	<modal visible="mostraConfirmacion" size-modal="md" noescape modalstatic on-hide="mostraConfirmacion = false">
            <modal-header title="Confirmación"></modal-header>
            <modal-body>
               	<div class="row">
               		<div class="col-md-3 center">
               			<img src="static/dist/img/interrogacion.png" style="height: 42px; 
               				class="img-responsive center-block figure-img img-fluid img-rounded">
               		</div>
               		<div class="col-md-8 center">
               			<br>
               			<label>¿Desea incluir imágenes en el reporte?</label>
               		</div>
				</div>
            </modal-body>
            <modal-footer class="center">
                <button type="button" ng-click="descargarDetalleOS(true)" class="btn btn-danger btn-flat">
					<span class="fa fa-check"></span>&nbsp Si
				</button>
				<button type="button" ng-click="descargarDetalleOS(false)" class="btn btn-danger btn-flat">
					<span class="fa fa-times"></span>&nbsp No
				</button>
                <button type="button" ng-click="cerrarMostraConfirmacion()" class="btn btn-danger btn-flat">
					<span class="fa fa-window-close"></span>&nbsp Cerrar
				</button>
            </modal-footer>
        </modal>
        
        <!-- 	#### Modal de etapas-->
		<modal visible="mostraEtapas" size-modal="lg" noescape modalstatic on-hide="mostraEtapas = false">
            <modal-header title="Etapas"></modal-header>
            <modal-body>
            	<form role="form" name="formPreguntas" novalidate>
            	<div class="row">
            		<div class="col-md-6">
           				<label for="">Procesos</label>
           				<div class="input-group">
           					<div class="input-group-addon">
           						<i class="fa fa-list-ul"></i>
           					</div>
           					<select class="form-control" name="nombreProcesos" id="nombreProceso" select2 
           						ng-model="procesoSeleccionado" ng-options="proc as proc.name for proc in evidencia.procesos"
           						ng-change="procesoElegido()">
           						<option value="">Seleccione</option>
           					</select>
           				</div>
           			</div>
           			
           			<div class="col-md-6">
           				<label for="">Encuestas</label>
           				<div class="input-group">
           					<div class="input-group-addon">
           						<i class="fa fa-list-ul"></i>
           					</div>
           					<select class="form-control" name="encuestaProcesos" id="encuestaProcesos" select2 
           						ng-model="encuestaSeleccionada" ng-options="enc as enc.name for	enc in procesoSeleccionado.listEncuestas"
           						ng-change="ecuestaElegida(encuestaSeleccionada)">
           						<option value="">Seleccione</option>
           					</select>
           				</div>
           			</div>
            	</div>
            </form>
            	<br>
            	<div class="row" ng-show="mostrarPreguntas">
			        <div class="col-xs-12 col-md-12">
			            <div class="box box-danger">
			                <div class="box-header with-border">
<!-- 			                    <div class="col-sm-6"> -->
<!-- 			                        <h3 class="box-title">Registros Encontrados: {{(encuestaSeleccionada | filter:tabla.view.filterSearchVal).length}}</h3> -->
<!-- 			                    </div> -->
<!-- 			                    <div class="col-sm-6 form-group"> -->
<!-- 									<div class="row"> -->
<!-- 										<div class="col-md-offset-5 col-md-6 col-xs-8"> -->
<!-- 											<div class="input-group pull-right"> -->
<!-- 												<input type="text" class="form-control" placeholder="Buscar por filtro" ng-model="tabla.view.filterSearchVal"> -->
<!-- 												<div class="input-group-addon"> -->
<!-- 													<i class="fa fa-search"></i> -->
<!-- 												</div> -->
<!-- 											</div> -->
<!-- 										</div> -->
<!-- 										<div class="col-md-1"> -->
<!-- 											<a ng-click="descargarExcel()">  -->
<!-- 												<span class="pull-right"> <img src="static/dist/img/excel.png"> </span> -->
<!-- 											</a> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 								</div> -->
			                </div>
			                <div class="box-body table-responsive">
				                <table id="tabla_preguntas" class="table table-striped table-hover table-xs table-sm" style="overflow: auto; border-collapse: collapse; width: 100%;">
				                    <thead>
				                        <tr>
				                            <th sort order="'estatus'" by="tabla.order" reverse="tabla.reverse" class="text-center">PREGUNTA</th>
				                            <th sort order="'folio'" by="tabla.order" reverse="tabla.reverse" class="text-center">RESPUESTA</th>
				                            <th sort order="'folio'" by="tabla.order" reverse="tabla.reverse" class="text-center">CAUSAS</th>
				                            <th sort order="'placa'" by="tabla.order" reverse="tabla.reverse" class="text-center">JUSTIFICACIÓN</th>
				                        </tr>
				                    </thead>
				                    <tbody>
				                        <tr dir-paginate="preg in encuestaSeleccionada.listPreguntas | orderBy:tabla.order:tabla.reverse | filter:tabla.view.filterSearchVal | itemsPerPage:tabla.view.rowsPerPageVal">
				                            
				                             <td style="width: 30%">
				                             	{{preg.name}}
				                            </td>
				                            <td style="width: 20%" align="center">
				                                 {{preg.infoEvidencia.respuesta.respuesta}}
				                            </td>
				                            <td style="width: 20%" align="center">
				                                 {{preg.infoEvidencia.respuesta.causa}}
				                            </td>
				                            <td style="width: 30%" align="center">
				                            	{{preg.infoEvidencia.respuesta.justificacion}}
				                            </td>
				                        </tr>
				                        <tr ng-if="encuestaSeleccionada.listPreguntas | filter:tabla.view.filterSearchVal).length < 1">
											<td colspan="10" class="text-center">
												<h4>No se encontraron coincidencias</h4></td>
										</tr>
				                    </tbody>
				                </table>
				                <div class="container-fluid">
				                    <div class="fixed-table-pagination">
				                        <rows-per-page rows="tabla.view.rowsPerPageVal" filtro="tabla.view.filterSearchVal" array="encuestaSeleccionada.listPreguntas"></rows-per-page>
				                        <dir-pagination-controls class="pull-right pagination-detail"></dir-pagination-controls>
				                    </div>
				                </div>
			                </div>
			            </div>
			        </div>
			    </div>

            </modal-body>
            
            <modal-footer class="center">
				<button type="button" ng-click="descargarReporteRespOS()" class="btn btn-danger btn-flat">
					<span class="fa fa-download"></span>&nbsp Descargar Reporte
				</button>
                <button type="button" ng-click="cerrarModalEtapas()" class="btn btn-danger btn-flat">
					<span class="fa fa-window-close"></span>&nbsp Cerrar
				</button>
            </modal-footer>
        </modal>
      </form>
</body>

</html>
