<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proceso</title>
    <link rel="stylesheet" href="static/dist/css/custom/etapa/proceso.css" />
</head>
<body>

    <!-- breadCrumbs -->
    <section class="content-header">
        <h1>{{breadCrumbs.servicio}}</h1>
        <ol class="breadcrumb">
            <li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
            </a></li>
            <li class="active">{{breadCrumbs.servicio}}</li>
        </ol>
    </section>

    <!-- botón flotante para agregar incidencia -->
    <div class="btn-flotente-incidencia">
        <button type="button" class="btn btn-warning">
            <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span> Incidencia
        </button>
    </div>
    
    <section class="content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="box box-danger">
                    <div class="panel panel-default">
                        <div class="panel-heading center">
                            <h3>
                                <span>
                                    {{nombreEtapa}}
                                </span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9 col-sm-6">
                                    <div class="form-group">
                                        
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group" style="display: block; float:right;">
                                        <span class="glyphicon glyphicon glyphicon-time" aria-hidden="true"></span>
                                        <label>Tiempo Transcurrido: 
                                            <span class="etapa-texto">
                                                {{tiempoTranscurrido | date:" dd / MM / yy"}}
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" >
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-teclo" role="progressbar" 
                                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
                                                style="width: 60%;">
                                              Pocentaje de Avance: 60%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <hr>
                                <div class="col-sm-6 col-md-3" ng-repeat="item in dataEtapa">
                                    <a ng-class="{'inactiv-click' : item.stRespondida == false}" 
                                    href="#/etapas/proceso/encuesta/{{item.idEncuesta.idEncuesta}}/:0" 
                                    data-toggle="tooltip" data-placement="bottom" title="{{item.idEncuesta.txEncuesta}}" >
                                        <div class="dash-info" ng-class="{'color-fondo': item.stRespondida == true, 'color-fondo-desactivado': item.stRespondida == false}">
                                            <div class="dash-img">
                                                <img class="dash-img-img" 
                                                    src="static/dist/img/etapas/004-registration.png">
                                            </div>
                                            
                                            <div class="marcador" value="1" to="1" duration="2500" effect="swing">
                                                {{item.idEncuesta.nbEncuesta}}
                                            </div>
                                        </div>
                                    </a>
                                    
                                </div>
                                
                                <div class="col-sm-6 col-md-3">
                                    
                                    <div class="dash-info color-fondo">
                                        <div class="dash-img">
                                            <img class="dash-img-img" 
                                                src="static/dist/img/etapas/004-registration.png">
                                        </div>
                                        <div style="text-align: center;">
                                            <switcher class="swTeclo switcherEncTransp"
                                                id-check="stEncuestaTransportista"
                                                ng-model="stActivarEncuesta"
                                                true-label="<i class='fa fa-check-circle'></i>"
                                                true-value="1"
                                                false-label="<i class='fa fa-times-circle'></i>"
                                                false-value="0"
                                                data-placement="top" title="Activar Encuesta">
                                            </switcher>
                                        </div>
                                        <label for="stEncuestaTransportista" class="marcador" 
                                        data-toggle="tooltip" data-placement="top" title="Activar Encuesta">
                                            Activar Encuesta
                                        </label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>