<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
	<section class="content-header">
    	<h1>{{breadCrumbs.servicio}}</h1>
    	<ol class="breadcrumb">
        	<li>
            	<a><i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}} </a>
        	</li>
        	<li class="active">{{breadCrumbs.servicio}}</li>
    	</ol>
	</section>
    
     <section class="content">
     
     	<div class="row">
     		<!-- SECCION PARAMETROS DE BÚSQUEDA -->
     		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
     			<div class="box box-danger">
     				 <form name="formBoxBusqueda" novalidate>
     				 	<div class="box-header with-border ">
                            
                            <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 text-center">
                                <h3 class="box-title">Búsqueda</h3>
                            </div>

                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" type="button" id="btnAlmacen" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            
                        </div>
                        
                        <div class="box-body">
                            <div class="row centerCol">
                            	<form name="formBoxBusqueda" role="form" novalidate>
	                            	<div class="col-xs-10 col-sm-10 col-md-8">
		                            	<div class="col-xs-12 col-sm-12 col-md-6">
		                                    <div class="form-group"
		                                        ng-class="{'has-error': (formBoxBusqueda.tipoBusqueda.$invalid && formBoxBusqueda.tipoBusqueda.$dirty) }">
		                                        <label>
		                                            *Tipo de Búsqueda
		                                        </label>
		
		                                        <div class="input-group">
		                                            <div class="input-group-addon">
		                                                <i class="fa fa-list-alt"></i>
		                                            </div>
		                                            <select class="form-control" name="tipoBusqueda" id="tipoBusqueda" ng-required="true" select2 data-minimum-results-for-search="Infinity" idioma-s2="{{currentLanguage}}" 
	                                        			ng-model="busqueda.tpBusqueda" ng-options="tipo as tipo.nbTipoBusqueda for tipo in busqueda.catalogo">
													<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
												</select>
		                                        </div>
		                                        <div ng-show="formBoxBusqueda.tipoBusqueda.$error.required && formBoxBusqueda.tipoBusqueda.$dirty">
		                                            <span ng-style="{color:'red'}">
		                                                El tipo de búsqueda es requerido
		                                            </span>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="col-xs-12 col-sm-12 col-md-6">
		                                	<div class="form-group"
		                                        ng-class="{'has-error': (formBoxBusqueda.valor.$invalid && formBoxBusqueda.valor.$dirty) }">
		                                        <label>
		                                            *Valor de Búsqueda
		                                        </label>
		                                        <div class="input-group">
		                                            <div class="input-group-addon">
		                                                <i class="fa fa-calendar"></i>
		                                            </div>
		                                            <input class="form-control" id="valor" type="text" ng-required="busqueda.tpBusqueda != undefined"
		                                                name="valor" idioma-dp="{{currentLanguage}}"
		                                                ng-disabled="busqueda.tpBusqueda == undefined"
		                                                ng-model="busqueda.valor"/>
		                                        </div>
		                                        <div
		                                            ng-show="formBoxBusqueda.fechaInicio.$error.required && formBoxBusqueda.fechaInicio.$dirty">
		                                            <span ng-style="{color:'red'}">
		                                                {{'GESTION.consultaKardex.busqueda.error.titulo.rangoFechas.fInicio' | translate}}
		                                            </span>
		                                        </div>
		                                    </div>
		                                </div>
		                        	</div>
		                        	<div class="col-md-1">
		                        		<button  class="btn btn-danger"
	                                        ng-click="getDataOrdenServicio(busqueda.tpBusqueda,busqueda.valor,formBoxBusqueda)">
	                                        Buscar
	                                    </button>
		                        	</div>
	                        	</form>
                            </div>
                        </div>
                        
     				 </form>
     			</div>
     		</div>
     	<!-- SECCION PARAMETROS DE BÚSQUEDA -->
     	<!-- SECCION PARA TABLA DE RESULTADOS -->
     		<div class="col-xs-12 col-sm-12 col-md-12" ng-if="listOrdenExpediente != undefined && listOrdenExpediente.length > 0">
                <div class="box box-danger">
                    <div class="box-header with-border">
                     	<div class="row">
                     		 <div class="col-xs-12 col-sm-12 col-md-12">
	                            <div class="col-xs-12 col-sm-6 col-md-6">
	                                <div>
	                                    <h4>No. Orden de Servicio: {{expedienteImg.cdOrdenServicio}}</h4><br/>
	                                </div>
	                            </div>
	                            <div class="col-xs-12 col-md-6">
								</div>
							</div>
                    	</div>
                    </div><br/>
                    <div class="row">
                    	<div class="col-xs-12 col-md-12">
                    		<div class="col-xs-4 col-md-4"><label>Placa:</label> {{expedienteImg.placa}}</div>
                    		<div class="col-xs-4 col-md-4"><label>VIN:</label> {{expedienteImg.numvim}}</div>
                    		<div class="col-xs-4 col-md-4"><label>Consesionario:</label> {{expedienteImg.nameConsesionario}}</div>
                    	</div>
             		</div><br/>
           			<form name="formUploadImage" role="form" novalidate>
            			<div class="row">
            				<div class="col-xs-12 col-sm-12 col-md-12">
            					<div class="col-xs-12 col-ms-12 col-md-4">
            						<div class="form-group">
										<label>
											Proceso
										</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-cogs"></i>
											</div>
											<select class="form-control" name="proceso" id="proceso" 
												ng-required="true" select2 
												idioma-s2="{{currentLanguage}}" 
												ng-model="expedienteImg.proceso" 
												ng-change="changedComboDependiente(expedienteImg.proceso,'proceso')"
												ng-disabled ="catalogosRelacoinados.catProceso==null"									
												ng-options="tipo as tipo.cdProceso for tipo in catalogosRelacoinados.catProceso">
												<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
											</select>
										</div>
									</div>
            					</div>
            					<div class="col-xs-12 col-ms-12 col-md-4">
									<div class="form-group">
										<label>
											Encuesta
										</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-address-book-o"></i>
											</div>
											<select class="form-control" name="encuesta" id="encuesta"
												ng-required="true" select2 
												idioma-s2="{{currentLanguage}}" 
												ng-model="expedienteImg.encuesta.listImageClasif"
												ng-change="changedComboDependiente(expedienteImg.encuesta.listImageClasif,'encuesta')" 
												ng-disabled ="catalogosRelacoinados.catEncuesta==null"
												ng-options="tipo as tipo.cdEncuesta for tipo in catalogosRelacoinados.catEncuesta">
												<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-ms-12 col-md-4">
									<div class="form-group">
										<label>
											Pregunta
										</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list-alt"></i>
											</div>
											<select class="form-control" name="pregunta" id="pregunta"
												ng-required="true" select2 data-minimum-results-for-search="Infinity" 
												idioma-s2="{{currentLanguage}}" 
												ng-model="expedienteImg.pregunta.listImageClasif" 
												ng-change="changedComboDependiente(expedienteImg.pregunta.listImageClasif,'pregunta')" 
												ng-disabled ="catalogosRelacoinados.catPregunta==null"
												ng-options="tipo as tipo.cdPregunta for tipo in catalogosRelacoinados.catPregunta">
												<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
											</select>
										</div>
									</div>
								</div>
            				</div>
            			</div>
               			
               			<update-image id-element-up="Encuesta" include="true" param-conf-sav="paramConfSav" max-nu-image="{{nuMaxImg}}"
               				param-conf-component="paramConfiguracion" list-images="{{listImages}}"></update-image>
	                   	
	                   
            			<div class="row">
        					<div class="col-xs-12 col-sm-12 col-md-12">
        						&nbsp;
        					</div>
        				</div>
           			</form>
                </div>
            </div>
     	</div>
     </section>
	</body>
</html>