<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<section class="content-header">
			<h1>{{breadCrumbs.servicio}}</h1>
			<ol class="breadcrumb">
				<li>
					<a><i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}} </a>
				</li>
				<li class="active">{{breadCrumbs.servicio}}</li>
			</ol>
		</section>
    
		<section class="content">
			<div class="row">
				<!-- SECCION PARAMETROS DE BÚSQUEDA -->
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
					<div class="box box-danger">
						 <form name="formBoxBusqueda" role="form" novalidate>     				 
							<div class="box-header with-border ">
								
								<div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 text-center">
									<h3 class="box-title">Búsqueda</h3>
								</div>

								<div class="box-tools pull-right">
									<button class="btn btn-box-tool" type="button" id="btnAlmacen" data-widget="collapse">
										<i class="fa fa-minus"></i>
									</button>
								</div>
								
							</div>
							<div class="box-body">
								<div class="row centerCol">
									<div class="col-xs-10 col-sm-10 col-md-8">
										<div class="col-xs-12 col-sm-12 col-md-6">
											<div class="form-group"
												ng-class="{'has-error': (formBoxBusqueda.tipoBusqueda.$invalid && formBoxBusqueda.tipoBusqueda.$dirty) }">
												<label>
													*Tipo de Búsqueda:
												</label>
		
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-list-alt"></i>
													</div>
													<select class="form-control" name="tipoBusqueda" id="tipoBusqueda" ng-required="true" select2 data-minimum-results-for-search="Infinity" idioma-s2="{{currentLanguage}}" 
														ng-model="busqueda.tpBusqueda" ng-options="tipo as tipo.nbTipoBusqueda for tipo in busqueda.catalogo">
													<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
												</select>
												</div>
												<div ng-show="formBoxBusqueda.tipoBusqueda.$error.required && formBoxBusqueda.tipoBusqueda.$dirty">
													<span ng-style="{color:'red'}">
														El tipo de búsqueda es requerido
													</span>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-6">
											<div class="form-group"
												ng-class="{'has-error': (formBoxBusqueda.valor.$invalid && formBoxBusqueda.valor.$dirty) }">
												<label>
													*Valor de Búsqueda:
												</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa fa-search"></i>
													</div>
													<input class="form-control" id="valor" type="text" ng-required="busqueda.tpBusqueda != undefined"
														name="valor" idioma-dp="{{currentLanguage}}"
														ng-disabled="busqueda.tpBusqueda == undefined"
														ng-model="busqueda.valorBusqueda"/>
												</div>
												<div
													ng-show="formBoxBusqueda.fechaInicio.$error.required && formBoxBusqueda.fechaInicio.$dirty">
													<span ng-style="{color:'red'}">
														{{'GESTION.consultaKardex.busqueda.error.titulo.rangoFechas.fInicio' | translate}}
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-1">
										<button  class="btn btn-danger"
											ng-click="getImagesOrderServices(busqueda.tpBusqueda,busqueda.valorBusqueda,formBoxBusqueda)">
											Buscar
										</button>
									</div>
								</div>
							</div>
						 </form>
					</div>
				</div>
			</div>
			<!-- SECCION PARAMETROS DE BÚSQUEDA -->
			<!-- SECCION PARA TABLA DE RESULTADOS -->
				<div class="row" ng-show="ordenServicio != undefined">
			        <div class="col-xs-12 col-md-offset-1 col-md-10">
			            <div class="box box-danger">
			                <div class="box-header with-border">
								<br/><br/>
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<div class="col-xs-4 col-md-4"><label>Placa:</label> {{ordenServicio.placa}}</div>
										<div class="col-xs-4 col-md-4"><label>VIN:</label> {{ordenServicio.numvim}}</div>
										<div class="col-xs-4 col-md-4"><label>Consesionario:</label> {{ordenServicio.nameConsesionario}}</div>
									</div>
								</div><br/><br/>
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 form-group">
										<div class="row">
											<div class="col-xs-12 col-sm-3 col-md-3">
												<h3 class="box-title">
													Registros Encontrados: <span>{{ (ordenServicio.imagenes | filter:view.filter).length }}</span>
												</h3>
											</div>
											<div class=" col-xs-6 col-sm-3 col-md-3">
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-list-alt"></i>
													</div>
													<select class="form-control" name="tipoBusqueda" id="tipoBusqueda" ng-required="true" 
														select2 data-minimum-results-for-search="Infinity" idioma-s2="{{currentLanguage}}" 
														ng-model="clasificCatalogo.clasifSelected" ng-change="clasificImage(clasificCatalogo.clasifSelected)"
														ng-options="clasif as clasif.nbClasif for clasif in clasificCatalogo.catalogo">
													</select>
												</div>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-1">
												<span ng-if="clasificCatalogo.showClasifPregunta">Pregunta</span>
												<label ng-if="clasificCatalogo.showClasifPregunta" 
													class="containerCheck">
													<input type="checkbox" ng-checked="clasificCatalogo.clasifPregunta"
													 ng-model="clasificCatalogo.clasifPregunta" ng-change="changedClasifLevelAsk(clasificCatalogo.clasifPregunta)">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="{{clasificCatalogo.showClasifPregunta ? 'col-xs-4 col-sm-4' : 'col-xs-6 col-sm-6'}} col-md-3">
												<div class="form-group">
													<div class="input-group">
														<input id="searchsomething" type="text" class="form-control" placeholder="Buscar por filtro" 
															ng-model="view.filter">
														<span class="input-group-addon"><i class="fa fa-search"></i></span>
													</div>
												</div>
											</div>
											<div class="col-xs-1 col-sm-8 col-md-1"></div>
											<div class="col-xs-11 col-sm-4 col-md-2 float-rigth-icon">
												<div class="col-xs-6 col-sm-6 col-md-6">                                                                                              
													<Button class="btn btn-danger pull-right" ng-click="showModalImages()">
														<i class="fa fa-camera" aria-hidden="true"></i>                                                                                              
													</Button>                                                                                                                                                
												</div>                                                                                                                                                       
												<div class="col-xs-6 col-sm-6 col-md-6">                                                                               
													<Button class="btn btn-danger pull-right" ng-click="deleteAllImage()" ng-disabled="ordenServicio.imagenes.length == 0">                                               
														<i class="fa fa-trash fa-lg" aria-hidden="true"></i>                                                                                                 
													</Button>                                                                                                                                                
												</div>
											</div>
										</div>
									</div>
								</div>
			                </div>
			                <div class="box-body table-responsive">
				                <table id="tabla_listServicio" class="table table-striped table-hover table-xs table-sm" style="overflow: auto; border-collapse: collapse; width: 100%;">
				                    <thead>
				                        <tr>
											<th width="130px" class="wrap-text" sort order="'imgVO.nbExpedienteODS'" by="tabla.order" reverse="view.reverse">NOMBRE</th>
											<th width="130px" class="wrap-text" sort order="'imgVO.size'" by="tabla.order" reverse="view.reverse">TAMA&Ntilde;O</th>
											<th width="130px" class="wrap-text" sort order="'imgVO.nbNivel'" by="tabla.order" reverse="view.reverse">CLASIFICACI&Oacute;N</th>
											<th width="130px" class="wrap-text" sort order="'imgVO.tipoExpediente.nbTipoExpediente'" by="tabla.order" reverse="view.reverse">TIPO DE DOCUMENTO</th>
											<th width="130px" class="wrap-text" sort order="'imgVO.fhCreacion'" by="tabla.order" reverse="view.reverse">FECHA</th>
											<th width="130px" class="wrap-text">ACCI&Oacute;N</th>
				                        </tr>
				                    </thead>
				                    <tbody align="center">
										<tr dir-paginate="imgVO in ordenServicio.imagenes | orderBy:order:reverse | filter: view.filter | itemsPerPage: view.rowsPerPage">
											<td class="center">
												<a tooltip-placement="top"
													tooltip="{{imgVO.nbExpedienteODS}}">
													<span>
														{{imgVO.nbExpedienteODS.length > 14 ? (imgVO.nbExpedienteODS.substr(0,14)+'...') : imgVO.nbExpedienteODS}}
													</span>
												</a>
											</td>		                    	
											<td class="center"><span>{{imgVO.size | prettySize}}</span></td>
											<td class="center">
												<label ng-if="imgVO.nbNivel.length > 44" tooltip-placement="top"
													tooltip="{{imgVO.nbNivel}}">
													<a>{{imgVO.nbNivel.length > 44 ? (imgVO.nbNivel.substr(0,44)+'...') : imgVO.nbNivel}}</a>
												</label>
												<span ng-if="imgVO.nbNivel.length < 44">{{imgVO.nbNivel}}</span>
											</td>
											<td class="center"><span>{{imgVO.tipoExpediente.nbTipoExpediente}}</span></td>
											<td class="center"><span>{{imgVO.fhCreacion | date : "dd/MM/yyyy" }}</span></td>
											<td class="text-center tableAnimateIn">
												<button class="btn btn-box-tool btn-sm btn-danger"
													tooltip-placement="left"
													tooltip="Ver imagen" 
													ng-click="viewImage(imgVO)">
													<i class="fa fa-eye" aria-hidden="true"></i>
												</button>
												<button class="btn btn-box-tool btn-sm btn-danger" 
													tooltip-placement="left"
													tooltip="Borrar imagen"
													ng-click="deleteImage(imgVO)">
													<i class="fa fa-trash" aria-hidden="true"></i>
												</button>
										   </td>
										</tr>
										<tr ng-if="(ordenServicio.imagenes | filter:view.filter).length == 0 || ordenServicio.imagenes.length == 0">
											<td colspan="6" class="text-center">
												<h4>{{ordenServicio.imagenes.length == 0 ? 'No se encontraron registros' : 'No se encontraron coincidencias'}}</h4>
											</td>
										</tr>
									</tbody>
				                </table>
				                <div class="container-fluid">
				                    <div class="fixed-table-pagination">
				                        <rows-per-page rows="view.rowsPerPage" filtro="view.filter" array="ordenServicio.imagenes"></rows-per-page>
				                        <dir-pagination-controls class="pull-right pagination-detail"></dir-pagination-controls>
				                    </div>
				                </div>
			                </div>
			            </div>
			        </div>
			    </div>
		</section>
		
		<!-- MODAL CARGA DE IMAGENES -->
		<form role="form" name="formUploadImage" novalidate>
			<div class="modal fade" id="modalIploadImage"  tabindex="-1" role="dialog"		
					aria-hidden="true" data-keyboard="false" data-backdrop="static">						
				<div class="modal-dialog modal-lg">                                                     
					<div class="modal-content">                                                         
						<div class="modal-header">                                                      
							<h4 class="modal-title" id="gridSystemModalLabel">Carga de Imagenes de la orden: {{ordenServicio.cdOrdenServicio}} </h4>    
						</div>                                                                          
						<div class="modal-body">
							<div class="row">
	            				<div class="col-xs-12 col-sm-12 col-md-12">
	            					<div class="col-xs-12 col-ms-12 col-md-4">
	            						<div class="form-group">
											<label>
												Proceso:
											</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-cogs"></i>
												</div>
												<select class="form-control" name="proceso" id="proceso" 
													ng-required="true" select2 
													idioma-s2="{{currentLanguage}}" 
													ng-model="optionSelected.optionProcess"
													ng-change="filterImagesByProcess(optionSelected.optionProcess)"
													ng-disabled ="ordenServicio.procesos==null"									
													ng-options="tipo as tipo.cdProceso for tipo in ordenServicio.procesos">
													<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
												</select>
											</div>
										</div>
	            					</div>
	            					<div class="col-xs-12 col-ms-12 col-md-4">
										<div class="form-group">
											<label>
												Encuesta:
											</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-address-book-o"></i>
												</div>
												<select class="form-control" name="encuesta" id="encuesta"
													ng-required="true" select2 
													idioma-s2="{{currentLanguage}}" 
													ng-model="optionSelected.optionEncuesta"
													ng-change="filterImagesByEnecuesta(optionSelected.optionEncuesta)" 
													ng-disabled ="optionSelected.optionProcess == null"
													ng-options="tipo as tipo.cdEncuesta for tipo in optionSelected.optionProcess.listEncuestas">
													<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-ms-12 col-md-4">
										<div class="form-group">
											<label>
												Pregunta:
											</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-list-alt"></i>
												</div>
												<select class="form-control" name="pregunta" id="pregunta"
													ng-required="true" select2 data-minimum-results-for-search="Infinity" 
													idioma-s2="{{currentLanguage}}" 
													ng-model="optionSelected.optionPregunta" 
													ng-change="filterImageByPregunta(optionSelected.optionPregunta)" 
													ng-disabled ="optionSelected.optionEncuesta==null"
													ng-options="tipo as tipo.cdPregunta for tipo in optionSelected.optionEncuesta.listPreguntas">
													<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
												</select>
											</div>
										</div>
									</div>
	            				</div>
	            			</div>
	            			<update-image id-element-up="Encuesta" include="true" show-in-modal="true" param-conf-sav="paramConfSav" max-nu-image="{{paramConfiguracion.maxNuImage}}"
               					param-conf-component="paramConfiguracion" list-images="{{listImages}}"></update-image>
						</div> 
						<div class="modal-footer">
						    <button class="btn bg-red-active btnMargin" type="button" ng-click="hideModalImages()">Cerrar</button>
						</div>                                                                          
					</div><!-- /.modal-content -->                                                      
				</div><!-- /.modal-dialog -->                                                           
			</div><!-- /.modal -->
		</form>
		<!-- MODAL CARGA DE IMAGENES -->
		
	</body>
</html>