<html>
<head>
<meta charset="utf-8">
</head>
<body>
	<section class="content-header">
		<h1>{{breadCrumbs.servicio}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>

	<!-- Contenido -->
	<section class="content">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="box box-danger"  >
					<div class="box-header text-center">
						<div class="row">
							<div class="col-xs-12">
								<h3 class="box-title">
									{{'ADMINISTRACION.CambiarContrasena.cambioAcceso.tituloBox' |
									translate}}</h3>
							</div>
						</div>
					</div>
					<form role="form" name="formChgPass">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<div class="col-md-12">
									<div class="form-group"
										ng-class="{'has-error': formChgPass.actPass.$invalid && formChgPass.actPass.$dirty}">
										<label>
											*{{'ADMINISTRACION.CambiarContrasena.cambioAcceso.contrasenaActual.label'
											| translate}} </label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-key"></i></span>
											<input type="password" class="form-control" name="actPass"
												ng-model="objeto.currentPassword" ng-required="true"
												maxlength="15">
										</div>
										<div
											ng-show="formChgPass.actPass.$error.required && formChgPass.actPass.$dirty"
											ng-style="{color:'red'}">
											<span>
												{{'ADMINISTRACION.CambiarContrasena.cambioAcceso.contrasenaActual.validacion'
												| translate}} </span>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group"
										ng-class="{'has-error': formChgPass.nwPass.$invalid && formChgPass.nwPass.$dirty}">
										<label>
											*{{'ADMINISTRACION.CambiarContrasena.cambioAcceso.nuevaContrasena.label'
											| translate}} </label>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-asterisk"></i></span> <input type="password"
												name="nwPass" class="form-control"
												ng-model="objeto.newPassword" ng-required="true"
												maxlength="15">
										</div>
										<div
											ng-show="formChgPass.nwPass.$error.required && formChgPass.nwPass.$dirty"
											ng-style="{color:'red'}">
											<span>
												{{'ADMINISTRACION.CambiarContrasena.cambioAcceso.nuevaContrasena.validacion'
												| translate}} </span>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group"
										ng-class="{'has-error': formChgPass.repPass.$invalid && formChgPass.repPass.$dirty}">
										<label>
											*{{'ADMINISTRACION.CambiarContrasena.cambioAcceso.repetirNuevaContrasena.label'
											| translate}} </label>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-pencil-square-o"></i></span> <input type="password"
												name="repPass" class="form-control"
												ng-model="objeto.repeatPassword" ng-required="true"
												maxlength="15">
										</div>
										<div
											ng-show="formChgPass.repPass.$error.required && formChgPass.repPass.$dirty"
											ng-style="{color:'red'}">
											<span>
												{{'ADMINISTRACION.CambiarContrasena.cambioAcceso.repetirNuevaContrasena.validacion'
												| translate}} </span>
										</div>
									</div>
								</div>
								<div class="col-md-12 text-center">
									<div class="form-group">
										<button type="button" class="btn btn-danger"
											ng-click="guardar()">{{'APP.Base.boton.guardar' |
											translate}}</button>
									</div>
								</div>
								
							</div>

							
						</div>
					</form>
				</div>
				<div class="tooltipPass">
					<span data-toggle="tooltip" data-placement="top"
						data-html="true"
						data-original-title="{{tituloSug}}
        					{{tamanio}}
        					{{mayusculas}}
        					{{minuscula}}
        					{{digitos}}
        					{{caracEpecials}}
        					{{tituloEjemplo}}
        					{{titlePassInvalid}}
        					{{pasInvalid}}
        					{{passValid}}">
						<i class="fa fa-question-circle"></i> Ayuda
					</span>
				</div>
			</div>
		</div>
	</section>
	
	 <!--  
<div class="row">
<div class="col-md-3">
<div class="form-group">
<label>
Tipo Persona 1
</label>
<div class="input-group">
<div class="input-group-addon">
<i class="fa fa-list-ul"></i>
</div>
<select name="persona1" id="persona1" class="form-control" select2
idioma-s2="{{currentLanguage}}"
ng-model="select1"
catalogo-generico-list
name-consult-service="'catalogoGenericoService'"
name-consult-end-point-service="'getTransportistas'"
name-save-service="'conductorService'"
name-save-end-point-service="'nuevoConductor'"
model-result="selectList"
opcion-selec="select1"
object-id="'idConductor'"
idbtn="'btnTrans'"
ng-options="x as x.nbConductor+' '+x.nbApepatConductor+' '+x.nbApematConductor for x in selectList">
<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
</select>
<div class="input-group-btn">
<label   id="btnTrans" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></label>
</div>
</div>

</div>
VALOR DEL MODELO1:{{select1}}
</div>
</div>
-->

<div class="row">
<div class="col-md-3">
<div class="form-group">
<label>
Tipo Persona 1(TECNICO)
</label>
<div class="input-group">
<div class="input-group-addon">
<i class="fa fa-list-ul"></i>
</div>
<select name="tecnico" id="tecnico" class="form-control" select2
idioma-s2="{{currentLanguage}}"
ng-model="tecnico"
catalogo-generico-list
param-busq="1"
name-consult-service="'catalogoGenericoService'"
name-consult-end-point-service="'getTecnicos'"
name-modal="'Tecnico'"
model-result="listTecnico"
opcion-selec="tecnico"
idbtn="'btnTecnico'"
ng-options="x.idPersona as x.nbPersona+' '+x.nbPatPersona+' '+x.nbMatPersona+' ('+x.cdPersona+')' for x in listTecnico">
<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
</select>
<div class="input-group-btn">
<label  id="btnTecnico" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></label>
</div>
</div>

</div>
VALOR DEL MODELO2:{{tecnico}}
</div>
</div>

<!--tipo persona 2  -->
<div class="row">
<div class="col-md-3">
<div class="form-group">
<label>
Transportista:
</label>
<div class="input-group">
<div class="input-group-addon">
<i class="fa fa-list-ul"></i>
</div>
<select name="transportista" id="transportista" class="form-control" select2
idioma-s2="{{currentLanguage}}"
ng-model="transportista"
catalogo-generico-list
name-modal="'Transportista'"
name-consult-service="'catalogoGenericoService'"
name-consult-end-point-service="'getTransportistas'"
name-save-service="'conductorService'"
name-save-end-point-service="'nuevoConductor'"
model-result="listTrans"
opcion-selec="transportista"

idbtn="'btntrans'"
ng-options="x as x.nbConductor+' '+x.nbApepatConductor+' '+x.nbApematConductor for x in listTrans">
<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
</select>
<div class="input-group-btn">
<label  id="btntrans" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></label>
</div>
</div>

</div>
VALOR DEL MODELO2:{{transportista}}
</div>
</div>

<!--  -->



<!--tipo persona 2  -->
<div class="row">
<div class="col-md-3">
<div class="form-group">
<label>
Tipo Persona 3(KIT)
</label>
<div class="input-group">
<div class="input-group-addon">
<i class="fa fa-list-ul"></i>
</div>
<select name="kit" id="kit" class="form-control" select2
idioma-s2="{{currentLanguage}}"
ng-model="kit"
catalogo-generico-list
param-busq="3"
name-modal="'Kit'"
name-consult-service="'catalogoGenericoService'"
name-consult-end-point-service="'getTecnicos'"
name-save-service="'instaladorService'"
name-save-end-point-service="'nuevoInstalador'"
model-result="listKit"
opcion-selec="kit"
object-id="'idPersona'"
idbtn="'btnKit'"
ng-options="x as x.nbPersona+' '+x.nbPatPersona+' '+x.nbMatPersona +' ('+x.cdPersona+')' for x in listKit">
<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
</select>
<div class="input-group-btn">
<label  id="btnKit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></label>
</div>
</div>

</div>
VALOR DEL MODELO2:{{kit}}
</div>
</div>

<!--  -->
</body>
</html>