<head>
	<meta charset="utf-8">
</head>

<body class="backNodes">
	<header class="content-header">
		<h1>Seguimiento</h1>
		<ol class="breadcrumb">
			<li><a><i class="fa fa-check-square-o"></i>Seguimiento</a>
			</li>
			<li class="active">Comparendo</li>
		</ol>
	</header>

	<section class="content">
		<!--Inicia Vista de nodos -->
		<div class="row">
			<!-- Cuadro de consulta de impugnacion -->
			<div class="col-md-10 col-md-offset-1">
				<!-- <ul class="nav nav-tabs preventClic">
					<li role="presentation" class="tabBox" ng-class="{'active border-box':b_seguimiento}">
						<a>Seguimiento</a></li>
					<li role="presentation" class="tabBox" ng-class="{'active border-box':b_detalle}"><a
							ng-click="cambioVista('d')">Detalle</a></li> -->
				</ul>
				<div class="box box-danger">
					<div class="box-header with-border">
						<fieldset>
							<div class="row">
								<br>
								<div class="col-md-10">
									<div class="row">
										<div class="col-xs-4 col-md-3">
											<strong>Orden Servicio:</strong>
											<p>{{ordenServicioVO.detalle.cdOrdenServicio}}</p>
										</div>
										<div class="col-xs-4 col-md-3">
											<strong>Centro de Instalación:</strong>
											<p>{{ordenServicioVO.detalle.nbModuloAtencion}}</p>
										</div>
										<div class="col-xs-4 col-md-3">
											<strong>Estatus:</strong>
											<p>{{ordenServicioVO.detalle.estatus}}</p>
										</div>
										<div class="col-xs-4 col-md-3">
											link evidencias y in
										</div>

									</div>
								</div>
								<div ng-class="{'col-xs-6 col-md-1':procesoActivo, 'col-md-2':!procesoActivo}">
									<a ng-class="{'pull-right':!procesoActivo}"> <img
											src="./static/dist/img/incidencia/pdf.svg" class="imgExport"
											ng-click="guardarSeguimientoPDF();"
											tooltip="{{'ADMINISTRACION.Seguimiento.mensajes.exportarReporte' | translate}}">
									</a>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="box-body">
						<!-- Vista en modo NODOS procesos -->
						<div  ng-show="ordenServicioVO.verProcesos">
							<section class="content contFullscreen" id="contFullScreen">
								<div class="row">
									<div class="col-md-12">
										<div id="mynetwork"></div>
									</div>
								</div>
							</section>
						</div>

						<!-- Vista modo linea de tiempo -->
						<div ng-show="ordenServicioVO.verDetalle">
							<div class="box-body scrollDetail" id="scrollDetail">
								<ul class="timeline">
									<li class="time-label" ng-repeat-start="pr in procesoDetalle">
										<span class="bg-dates"> {{pr.fhProcCompare | date:
												'dd/MM/yyyy HH:mm:ss'}} </span>
									</li>
									<li>
										<div class="fa nodesTimeline"
											style="background-color: {{pr.procesos.tipoProceso.cdRgb}};">
											<img ng-src="data:image/png;base64,{{pr.procesos.lbImagen}}"
												class="img-circle imgNodes" alt="Cinque Terre">
										</div>
										<div class="timeline-item">
											<h3 class="timeline-header">
												<div class="row">
													<div class="col-md-6">
														<p>
															<strong>{{pr.procesos.nbProceso}}</strong>
														</p>
													</div>
													<div class="col-md-6">
														<p class="badge pull-right">
															<span>{{pr.nbUsuario}}</span>
														</p>
													</div>
												</div>
											</h3>
											<div class="timeline-body table-responsive">
												<table class="table tblsnborder">
													<thead>
														<tr>
															<td class="center"><strong>Observaciones</strong></td>
															<td class="center"><strong>Documentos
																	adjuntos</strong></td>
															<td class="center"><strong>Plantillas</strong></td>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td style="text-align: center;" width="40%">{{pr.txComentario}}</td>
															<td style="text-align: center;" width="35%">
																<div class="row" ng-show="pr.tipoArchivo.length == 0">
																	<div class="col-md-12">ESTE PROCESO NO CUENTA CON
																		ARCHIVOS</div>
																</div>
																<div class="row" ng-repeat-start="ar in pr.tipoArchivo">
																	<div class="col-md-12" ng-if="ar.archivo.lbArchivo != null">
																		<a class="linkTable"
																			tooltip="{{'ADMINISTRACION.Seguimiento.mensajes.visualizar' | translate}}"
																			ng-click="descargarDocumentoDigitalizado(ar.archivo.lbArchivo)">
																			<i class="fa fa-eye"></i> {{ar.txDescripcion}}
																		</a>
																	</div>
																	<!-- 															<div class="col-md-8" -->
																	<!-- 																ng-if="ar.archivo.lbArchivo == null">-{{ar.nbArchivoTipo}}</div> -->
																	<div class="col-md-12" ng-if="ar.archivo.lbArchivo == null">
																		<a class="linkTable"
																			tooltip="{{'ADMINISTRACION.Seguimiento.mensajes.cargar' | translate}}"
																			ng-show="archivo.archivo == null"
																			ng-click="cargarArchivo(ar,0,$parent.$parent.$index)">
																			<i class="fa fa-upload" title="Cargar Archivo"
																				aria-hidden="true"></i>{{ar.txDescripcion}}
																		</a>
																	</div>
																</div>
																<p />
																<div ng-repeat-end></div>
															</td>
															<td style="text-align: left;" width="25%">
																<div class="row" ng-show="pr.plantillasProceso.length == 0">
																	<div class="col-md-12">ESTE PROCESO NO CUENTA CON
																		PLANTILLAS</div>
																</div>
																<div class="row" ng-repeat-start="pl in pr.plantillasProceso">
																	<div class="col-md-12" ng-if="$first">
																		<a class="linkTable"
																			tooltip="{{'ADMINISTRACION.Seguimiento.mensajes.descargar' | translate}}"
																			ng-click="downloadPlantilla(pl.cdExtension,pl.lbArchivo,pl.nbPlantilla)">
																			<i class="fa fa-download"></i> {{pl.nbPlantilla}}
																		</a>
																	</div>
																	<div class="col-md-12" ng-if="!$first">
																		<a class="linkTable"
																			tooltip="{{'ADMINISTRACION.Seguimiento.mensajes.descargar' | translate}}"
																			ng-click="downloadPlantilla(pl.cdExtension,pl.lbArchivo,pl.nbPlantilla)">
																			<i class="fa fa-download"></i> {{pl.nbPlantilla}}
																		</a>
																	</div>
																</div>
																<p />
																<div ng-repeat-end></div>
															</td>
															<!-- 													<td style="text-align:center;"> -->
															<!-- 														<button style="border-radius: 30px;" type="button" class="btn btn-success btn-flat" > -->
															<!-- 															<i class="fa fa-download" title="Descargar" aria-hidden="true" ng-click="downloadPlantilla(plantilla.nbUrl)"></i> -->
															<!-- 														</button> -->
															<!-- 													</td> -->
														</tr>
													</tbody>
												</table>
											</div>
											<div class="timeline-footer" ng-if="false">
												<div class="row">
													<div class="col-md-2" ng-repeat-start="ar in pr.archivosProceso"
														ng-if="$first">
														<a class="btn btn-primary btn-xs"
															ng-click="descargarDocumentoDigitalizado(ar.lbArchivo)">
															{{ar.archivoTipo.txDescripcion}} </a>
													</div>
													<div class="col-md-offset-1 col-md-2" ng-if="!$first">
														<a class="btn btn-primary btn-xs"
															ng-click="descargarDocumentoDigitalizado(ar.lbArchivo)">
															{{ar.archivoTipo.txDescripcion}} </a>
													</div>
													<div ng-repeat-end></div>
												</div>
											</div>
											<div class="timeline-footer" ng-if="false">
												<div class="row">
													<div class="col-md-2" ng-repeat-start="pl in pr.plantillasProceso"
														ng-if="$first">
														<a class="btn btn-primary btn-xs"
															ng-click="downloadPlantilla(pl.cdExtension,pl.lbArchivo,pl.nbPlantilla)">
															{{pl.nbPlantilla}} </a>
													</div>
													<div class="col-md-offset-1 col-md-2" ng-if="!$first">
														<a class="btn btn-danger btn-xs"
															ng-click="downloadPlantilla(pl.cdExtension,pl.lbArchivo,pl.nbPlantilla)">
															{{pl.nbPlantilla}} </a>
													</div>
													<div ng-repeat-end></div>
												</div>
											</div>
										</div>
									</li>
									<!-- END timeline item -->
									<li ng-if="$last" ng-repeat-end><i class="fa fa-clock-o bg-gray"></i></li>
									<!-- 				            <li ng-repeat-end></li> -->
								</ul>
							</div>
						</div>
						
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-md-4">
								<a type="button" ng-click="regresar()" class="btn pull-left">
									<i class="fa fa-arrow-circle-left"></i>
									{{'APP.Base.boton.regresar' | translate}}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script type="text/javascript">
		$('.botonF1').hover(function () {
			$('.btn').addClass('animacionVer');
		})
		$('.contenedor').mouseleave(function () {
			$('.btn').removeClass('animacionVer');
		})
	</script>
</body>

</html>