<meta charset="utf-8">
<style>
.toolTip {
	background: #f4f4f4;
	border: 2px solid #87cefa;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #333;
	color: #87cefa;
	font-size: 0.8em;
	padding: 10px 10px 10px 35px;
	max-width: 600px;
	position: absolute;
	z-index: 9999;
}

.toolTipInfo {
	display: block;
	color: rgb(207, 10, 44);
}

.toolTipInfo:hover {
	color: #880219;
	background: none;
}

.toolTipInfo-btn {
	display: block;
	color: #fff;
}

.btn-ant-seccion { 
	display: block;
	width: 250px;
	padding: 2%;
	float: left;
}

.btn-sig-seccion {
	display: block;
	width: 250px;
	padding: 2%;
	float: right;
}

.btn-center-pag {
	display: block;
	width: 250px;
	padding: 2%;
	float: center;
}
</style>
<div class="col-md-12">
	<div class="row">
		<div class="col-md-2 center">
			<div ng-if="myVar">
				<a data-toggle="tooltipinfo" data-placement="top"
					title="Tiempo restante para finalizar la encuesta"> <i
					class="glyphicon glyphicon-question-sign toolTipInfo"></i>
				</a>
			</div>
<!-- 			<div class="text-15">Tiempo Restante</div> -->
<!-- 			<div id="reloj" class="text-25"> -->
<!-- 				{{paramConfigPage.hora<10?formato:''}}{{paramConfigPage.hora}}:{{paramConfigPage.minuto<10?formato:''}}{{paramConfigPage.minuto}}:{{paramConfigPage.segundo<10?formato:''}}{{paramConfigPage.segundo}} -->
<!-- 			</div> -->
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-6">
					Contestadas por sección: {{seccionVO.nuPreguntasContestadas+' DE '}} {{ (seccionVO.preguntas | filter:general.filter).length }}
					<div ng-if="myVar" style="display: inline-block;">
						<a data-toggle="tooltipinfo" data-placement="top"
							title="Total de preguntas contestadas por sección"> <i
							class="glyphicon glyphicon-question-sign toolTipInfo"></i>
						</a>
					</div>
				</div>

				<div class="col-md-6">
					Total: {{preguntasContestadasEncuesta+' DE ' }}<span>{{encuesta.nuPreguntas}}</span>
					<div ng-if="myVar" style="display: inline-block;">
						<a data-toggle="tooltipinfo" data-placement="top"
							title="Total de preguntas contestadas de la encuesta"> <i
							class="glyphicon glyphicon-question-sign toolTipInfo"></i>
						</a>
					</div>
				</div>


				<div class="col-md-6">
					<div class="progress">
						<div
							class="progress-bar progress-bar-success active progress-bar-striped"
							role="progressbar"
							aria-valuenow=" {{ (seccionVO.nuPreguntasContestadas * 100) / seccionVO.preguntas.length }}"
							aria-valuemin="0" aria-valuemax="100"
							style="width: {{ (seccionVO.nuPreguntasContestadas * 100) / seccionVO.preguntas.length }}%">
							<span class="sr-only">
								{{ (seccionVO.nuPreguntasContestadas * 100) / seccionVO.preguntas.length }}% Complete
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress">
						<div
							class="progress-bar progress-bar-success active progress-bar-striped"
							role="progressbar"
							aria-valuenow=" {{ (preguntasContestadasEncuesta * 100) / encuesta.nuPreguntas }}"
							aria-valuemin="0" aria-valuemax="100"
							style="width: {{ (preguntasContestadasEncuesta * 100) / encuesta.nuPreguntas }}%">
							<span class="sr-only">
								{{ (preguntasContestadasEncuesta * 100) / encuesta.nuPreguntas }}% Complete
							</span>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-1"></div>
	</div>

</div>
<form name="formStepTwo" novalidate>
	<div class="col-md-2 center-vert center" style="margin-top: 2%;">
		<div ng-repeat="seccion in encuesta.secciones">

			<div class="btn-group-vertical w-100" role="group">

				<div class="btn-group" role="group">
					<div
						ng-show="seccion.nuPreguntasContestadas==0 || seccion.nuPreguntasContestadas===null"
						ng-style="seccion.cdSeccion === seccionSeleccion && {'border-style':'solid','border-width':'3px','border-color':444}">
						<button type="button"
							class="label label-danger center-block w-100"
							ng-show="seccion.nuPreguntasContestadas==0 || seccion.nuPreguntasContestadas===null"
							ng-click="cambiarPregunta(paramConfigPage.bigCurrentPage,seccion)">
							{{seccion.cdSeccion}}
						</button>
					</div>
				</div>

				<div class="btn-group" role="group">
					<div ng-show="seccion.nuPreguntasContestadas>0 && seccion.nuPreguntasContestadas<seccion.preguntas.length"
						ng-style="seccion.cdSeccion === seccionSeleccion && {'border-style':'solid','border-width':'3px','border-color':'444'}">
						<button type="button"
							class="label label-warning center-block w-100"
							ng-show="seccion.nuPreguntasContestadas>0 && seccion.nuPreguntasContestadas<seccion.preguntas.length"
							ng-click="cambiarPregunta(paramConfigPage.bigCurrentPage,seccion)">
							{{seccion.cdSeccion}}
						</button>
					</div>
				</div>

				<div class="btn-group" role="group">
					<div
						ng-show="seccion.nuPreguntasContestadas>=seccion.preguntas.length"
						ng-style="seccion.cdSeccion === seccionSeleccion && {'border-style':'solid','border-width':'3px','border-color':'444'}">
						<button type="button"
							class="label label-success center-block w-100"
							ng-show="seccion.nuPreguntasContestadas>=seccion.preguntas.length"
							ng-click="cambiarPregunta(paramConfigPage.bigCurrentPage,seccion)">
							{{seccion.cdSeccion}}
						</button>
					</div>
				</div>
			</div>

		</div>



		<div style="position: absolute; bottom: 0;">
			<div class="centerRow">
				<div ng-if="preguntasContestadasEncuesta===encuesta.nuPreguntas"
					class="w-100">
					<div style="display: block; margin: 0 auto;" ng-if="myVar">
						<a data-toggle="tooltipinfo" data-placement="right"
							title="Concluir la encuesta"> <i
							class="glyphicon glyphicon-question-sign toolTipInfo"></i>
						</a>
					</div>
					<button class="btn btn-danger w-100 mb-2"
						ng-click="guardaFinalizaEncuesta(paramConfigPage.bigCurrentPage) ">
						<div style="display: block;">Finalizar</div>
					</button>
				</div>
				<div ng-if="preguntasContestadasEncuesta!=encuesta.nuPreguntas"
					class="w-100">
					<div style="display: block; margin: 0 auto;" ng-if="myVar">
						<a data-toggle="tooltipinfo" data-placement="right"
							title="Pausar la encuesta y continuar en otro momento"
							aria-disabled="true"> <i
							class="glyphicon glyphicon-question-sign toolTipInfo"></i>
						</a>
					</div>
					<button id="guardarAvance" class="btn btn-danger w-100 mb-2"
						ng-click="pausarEncuesta(paramConfigPage.bigCurrentPage,paramConfigPage.tiempoEncuesta)">
						<div style="display: block;">Regresar</div>
					</button>
				</div>
				<div style="margin: 0 auto;">
					Mostrar Ayuda <input id="checked" type="checkbox" ng-model="myVar"
						ng-init="myVar = false" ng-click="mostarTooltip()" />
				</div>

			</div>
		</div>

	</div>
	<div class="col-md-9">
		<fieldset class="scheduler-border">
			<legend class="scheduler-border text-18">
				Sección: {{seccionVO.nbSeccion}} {{paramConfigPage.bigCurrentPage}} / {{numPages}}
			</legend>

			<div class="box-body table-responsive no-padding">
				<table class="table table-hover header-fixed">
					<tbody id="myTable2">
						<tr
							ng-repeat=" respuesta in seccionVO.preguntas.slice(((paramConfigPage.bigCurrentPage-1)*paramConfigPage.itemsPerPage),((paramConfigPage.bigCurrentPage)*paramConfigPage.itemsPerPage))"
							id="{{respuesta.idPregunta}}" class="sin-seleccionar"
							ng-class="{'seleccionado': respuesta.stMarcado==1}">

							<td
								ng-class="{ 'has-error' : formStepTwo.{{'valueOption'+$index}}.$invalid && formStepTwo.{{'customValue'+$index}}.$dirty}">
								<span class="text-15">{{respuesta.txPregunta}}</span>
								<ul>
									<li
										style="list-style: none; margin-top: 1%; margin-bottom: 2%;"
										ng-repeat="opciones in respuesta.opciones">
										<div>
											<label class="content-input"> <input type="radio"
												name="{{respuesta.txPregunta}}" id="{{opciones.idOpcion}}"
												ng-value=1
												ng-change="checkPregunta(opciones,respuesta,'{{respuesta.idPregunta}}')"
												ng-model="opciones.stMarcado"
												ng-checked="opciones.stMarcado">
												{{opciones.txOpcion}} <i></i>
											</label>
										</div>
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</fieldset>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-1 col-md-offset-2">
					<span ng-if="posicionActual >0 && paramConfigPage.bigCurrentPage==1"
						class="btn btn-danger"
						ng-click="cambiarPregunta(paramConfigPage.bigCurrentPage,encuesta.secciones[posicionActual-1]) "
						data-toggle="tooltip" data-placement="right"
						title="Sección Anterior"> 
						<i class="fa fa-arrow-left"></i>
					</span>
					<div style="display: inline-block" ng-if="myVar && posicionActual >0 && paramConfigPage.bigCurrentPage==1">
						<a data-toggle="tooltipinfo" data-placement="bottom"
							title="Consultar la sección anterior de la encuesta"> <i
							class="glyphicon glyphicon-question-sign toolTipInfo"></i>
						</a>
					</div>
				</div>
				<div class="col-md-9">
					<div class="">
						<div style="display: inline-block" ng-if="myVar">
							<a data-toggle="tooltipinfo" data-placement="right"
								title="Regresar al grupo de preguntas anteriores"> <i
								class="glyphicon glyphicon-question-sign toolTipInfo"></i>
							</a>
						</div>

						<uib-pagination previous-text="Página Anterior"
							next-text="Página Siguiente"
							total-items="paramConfigPage.bigTotalItems" num-pages="numPages"
							ng-model="paramConfigPage.bigCurrentPage"
							max-size="paramConfigPage.maxSize"
							items-per-page="paramConfigPage.itemsPerPage"
							class="pagination-md" boundary-link-numbers="true"
							direction-links="true" rotate="false">
						</uib-pagination>

						<div style="display: inline-block" ng-if="myVar">
							<a data-toggle="tooltipinfo" data-placement="right"
								title="Avanzar al grupo de preguntas siguientes"> 
								<i class="glyphicon glyphicon-question-sign toolTipInfo"></i>
							</a>
						</div>

					</div>
					<div class="col-md-2 center">
						<span ng-if="(posicionActual < (encuesta.secciones.length-1)) && paramConfigPage.bigCurrentPage==numPages"
							class="btn btn-danger" data-toggle="tooltip"
							data-placement="right" title="Siguiente sección"
							ng-click="cambiarPregunta(paramConfigPage.bigCurrentPage,encuesta.secciones[posicionActual+1])">
							<i class="fa fa-arrow-right"></i>
						</span>
						<div style="display: inline-block"
							ng-if="myVar && (posicionActual < (encuesta.secciones.length-1)) && paramConfigPage.bigCurrentPage==numPages">
							<a data-toggle="tooltipinfo" data-placement="bottom"
								title="Consultar la siguiente sección de la encuesta">
								<i class="glyphicon glyphicon-question-sign toolTipInfo"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-1"
		style="line-height: 30px; height: 515px; margin-top: 2%;">
		<div style="position: absolute; display: inline; top: 0;" ng-if="myVar">
			<a data-toggle="tooltipinfo" data-placement="top"
				title="Sección de preguntas correspondientes a la encuesta, la pregunta contiene un número identificado de pregunta y contiene tres opciones, se debe marcar con un click la opción deseada">
				<i class="glyphicon glyphicon-question-sign toolTipInfo"></i>
			</a>
		</div>
	</div>
</form>
